@model IEnumerable<USBDProperty.Models.PropertyType>

@{
    var records = Model.Where(m => m.ParentPropertyTypeId == 0);
}
@foreach(var item in records)
{
<li>    
           
        @{
            var r = Model.Where(t=>t.ParentPropertyTypeId!=0).Select(p => p.ParentPropertyTypeId).ToList();

          if (r.Contains(item.PropertyTypeId))
            {
                <a href="#">
                    @item.PropertyTypeName
                </a>
                @await Component.InvokeAsync("Submenu", new { pid = item.PropertyTypeId })
            }
            else
            {
                  <a href="/PropertyDetails/GetPropertyByParent/@item.PropertyTypeId">
                    @item.PropertyTypeName
                </a>
               
            }
        }
            
 
    </li>
}