<!DOCTYPE html>
<html lang="en">
<head>
    @*<meta charset="utf-8" />*@
    @*<meta name="viewport" content="width=device-width, initial-scale=1.0" />*@
    @*<title>@ViewData["Title"] - UsBDPropertyRealEstateProject</title>*@
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>US-BD Property</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <!-- Favicons -->
    <link href="~/AdminAsserts/img/favicon.png" rel="icon">
    <link href="~/AdminAsserts/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/AdminAsserts/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/AdminAsserts/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/AdminAsserts/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/AdminAsserts/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/AdminAsserts/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/AdminAsserts/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/AdminAsserts/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/AdminAsserts/css/style.css" rel="stylesheet">
    <link href="~/asserts/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>


    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <div class="logo d-flex align-items-center">
                <img src="~/Asserts/logo/Us--Bangla-logo-web-03.png" height="100px" width="200px" alt="">
                @*<span class="d-none d-lg-block">NiceAdmin</span>*@
            </div>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->

        <div class="search-bar">
            <form class="search-form d-flex align-items-center" method="POST" action="#">
                <input type="text" name="query" placeholder="Search" title="Enter search keyword">
                <button type="submit" title="Search"><i class="bi bi-search"></i></button>
            </form>
        </div><!-- End Search Bar -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

                <li class="nav-item d-block d-lg-none">
                    <a asp-action="Index" asp-controller="Countries" class="nav-link nav-icon search-bar-toggle">
                        <i class="bi bi-search">Countries</i>
                    </a>
                </li><!-- End Search Icon-->
                <li class="nav-item dropdown">
                    <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                        <i class="bi bi-bell"></i>
                        <span class="badge bg-primary badge-number">4</span>
                    </a><!-- End Notification Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                        <li class="dropdown-header">
                            You have 4 new notifications
                            <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="notification-item">
                            <i class="bi bi-exclamation-circle text-warning"></i>
                            <div>
                                <h4>Lorem Ipsum</h4>
                                <p>Quae dolorem earum veritatis oditseno</p>
                                <p>30 min. ago</p>
                            </div>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="notification-item">
                            <i class="bi bi-x-circle text-danger"></i>
                            <div>
                                <h4>Atque rerum nesciunt</h4>
                                <p>Quae dolorem earum veritatis oditseno</p>
                                <p>1 hr. ago</p>
                            </div>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="notification-item">
                            <i class="bi bi-check-circle text-success"></i>
                            <div>
                                <h4>Sit rerum fuga</h4>
                                <p>Quae dolorem earum veritatis oditseno</p>
                                <p>2 hrs. ago</p>
                            </div>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="notification-item">
                            <i class="bi bi-info-circle text-primary"></i>
                            <div>
                                <h4>Dicta reprehenderit</h4>
                                <p>Quae dolorem earum veritatis oditseno</p>
                                <p>4 hrs. ago</p>
                            </div>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li class="dropdown-footer">
                            <a href="#">Show all notifications</a>
                        </li>

                    </ul><!-- End Notification Dropdown Items -->

                </li><!-- End Notification Nav -->

                <li class="nav-item dropdown">

                    <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                        <i class="bi bi-chat-left-text"></i>
                        <span class="badge bg-success badge-number">3</span>
                    </a><!-- End Messages Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
                        <li class="dropdown-header">
                            You have 3 new messages
                            <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="message-item">
                            <a href="#">
                                <img src="~/AdminAsserts/img/messages-1.jpg" alt="" class="rounded-circle">
                                <div>
                                    <h4>Maria Hudson</h4>
                                    <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                    <p>4 hrs. ago</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="message-item">
                            <a href="#">
                                <img src="~/AdminAsserts/img/messages-2.jpg" alt="" class="rounded-circle">
                                <div>
                                    <h4>Anna Nelson</h4>
                                    <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                    <p>6 hrs. ago</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="message-item">
                            <a href="#">
                                <img src="~/AdminAsserts/img/messages-3.jpg" alt="" class="rounded-circle">
                                <div>
                                    <h4>David Muldon</h4>
                                    <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                    <p>8 hrs. ago</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="dropdown-footer">
                            <a href="#">Show all messages</a>
                        </li>

                    </ul><!-- End Messages Dropdown Items -->

                </li><!-- End Messages Nav -->

                <li class="nav-item dropdown pe-3">

                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img src="~/AdminAsserts/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                        <span class="d-none d-md-block dropdown-toggle ps-2">K. Anderson</span>
                    </a><!-- End Profile Iamge Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6>Kevin Anderson</h6>
                            <span>Web Designer</span>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                                <i class="bi bi-person"></i>
                                <span>My Profile</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                                <i class="bi bi-gear"></i>
                                <span>Account Settings</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                                <i class="bi bi-question-circle"></i>
                                <span>Need Help?</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li><li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
@*
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Sign Out</span>
                            </a>
                        </li>*@

                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->

            </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a asp-action="Dashboard" asp-controller="Admin" class="nav-link">
                    <i class="bi bi-grid"></i>
                    <span>Dashboard</span>
                </a>
            </li>

             <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-geo-alt-fill"></i><span>Locations</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a asp-action="Index" asp-controller="Countries">
                            <i class="bi bi-circle"></i><span>Country</span>
                        </a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="Divisions">
                            <i class="bi bi-circle"></i><span>Division</span>
                        </a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="Cities">
                            <i class="bi bi-circle"></i><span>City</span>
                        </a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="Areas">
                            <i class="bi bi-circle"></i><span>Area</span>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- End Location Nav -->

            <!-- End Dashboard Nav -->
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-building"></i><span>Profile</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">                 
                   @* <li>
                        <a asp-action="Index" asp-controller="Countries">
                            <i class="bi bi-circle"></i><span>Countries</span>
                        </a>
                    </li>*@
                    <li>
                        <a asp-action="Index" asp-controller="DevelopersorAgents">
                            <i class="bi bi-circle"></i><span>Agent Information</span>
                        </a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="PropertyDetails">
                            <i class="bi bi-circle"></i><span>Agent Logo</span>
                        </a>

                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="MultipleImageUploads">
                            <i class="bi bi-circle"></i><span>Agent Banner</span>
                        </a>
                    </li>
                </ul>
            </li><!-- End Project -->
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#project" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-building"></i><span>Projects Information</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="project" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                   @* <li>
                        <a asp-action="Index" asp-controller="PropertyFeatures">
                            <i class="bi bi-circle"></i><span>Project Features</span>
                        </a>
                    </li>*@
                    <li>
                        <a asp-action="Index" asp-controller="ProjectsInfoes">
                            <i class="bi bi-circle"></i><span>Project Information</span>
                        </a>

                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="ProjectImageGalleries">
                            <i class="bi bi-circle"></i><span>Project Images</span>
                        </a>
                    </li>
                </ul>
            </li><!-- End Project -->



            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#property" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-building"></i><span>Properties</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="property" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    @*<li>
                        <a asp-action="Index" asp-controller="PropertyFeatures">
                            <i class="bi bi-circle"></i><span>Property Features</span>
                        </a>
                    </li>*@
                      <li>
                        <a asp-action="Index" asp-controller="PropertyTypes">
                            <i class="bi bi-circle"></i><span>Property Types</span>
                        </a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="PropertyDetails">
                            <i class="bi bi-circle"></i><span>Property Information</span>
                        </a> 
                     </li>
                     <li>
                        <a asp-action="Index" asp-controller="PropertyImages">
                            <i class="bi bi-circle"></i><span>Property Images</span>
                        </a>
                    </li>
                </ul>
            </li><!-- End Property Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                    <i class="ri-settings-4-fill"></i><span>Settings</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">

                    @*<li>
                        <a asp-action="Index" asp-controller="Notices">
                            <i class="bi bi-circle"></i><span>Notifications</span>
                        </a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="PropertyFeatures">
                            <i class="bi bi-circle"></i><span>Property Features</span>
                        </a>
                    </li>*@
                    <li>
                        <a asp-action="Index" asp-controller="MeasurementUnits">
                            <i class="bi bi-circle"></i><span>Measutement Unit</span>
                        </a>
                    </li>
                    @*<li>
                        <a asp-action="Index" asp-controller="TermsConditions">
                            <i class="bi bi-circle"></i><span>Terms & Conditions</span>
                        </a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="PrivacyPolicies">
                            <i class="bi bi-circle"></i><span>Privacy Policy</span>
                        </a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="ClientContacts">
                            <i class="bi bi-circle"></i><span>Client Contact</span>
                        </a>
                    </li>*@
                </ul>
            </li><!-- End Settngs Nav -->




        </ul>

    </aside><!-- End Sidebar-->



    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!--======= RIGHTS =========-->
    <div class="rights">
        <div class="container">
            <p class="font-montserrat">
                ©Copyright US BD Property All Rights Reserved 2023- @DateTime.Now.Year| Design &amp; Developed by <a href="https://www.powersoftit.com/" target="_blank"><strong><span>PowersoftIT</span></strong></a>
            </p>
        </div>
    </div>
    @*</div>*@


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- Vendor JS Files -->

    <script src="~/AdminAsserts/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="~/AdminAsserts/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/AdminAsserts/vendor/chart.js/chart.umd.js"></script>
    <script src="~/AdminAsserts/vendor/echarts/echarts.min.js"></script>
    <script src="~/AdminAsserts/vendor/quill/quill.min.js"></script>
    <script src="~/AdminAsserts/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="~/AdminAsserts/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/AdminAsserts/vendor/php-email-form/validate.js"></script>

    @*<script src="~/ckeditor/ckeditor.js"></script>*@
    <!------- CKEDITOR ----------->
    <script src="~/ckeditor/ckeditor.js"></script>

    <!-- Template Main JS File -->
    <script src="~/AdminAsserts/js/main.js"></script>
    @*<script type="text/javascript">*@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
