@{
    ViewData["Title"] = "AgentProperties";
    Layout = "~/Views/Shared/_HomeAgentLayout.cshtml";
}

<style>
    .properties {
        padding: 0;
        background: url("../images/property-bg.jpg") repeat;
        display: inline!important;
    }
    .properties li .tag {
        position: absolute;
        right: 4px;
        z-index: 99;
        font-size: 11px;
        font-weight: bold;
        color: #fff;
        height: 27px;
        width: 100px;
        text-align: center;
        line-height: 23px;
        padding: 0 0 0 10px;
        margin-top: 35px;
    }
    .properties li section {
        background: #fff;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }
    .properties li {
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        margin-bottom: 30px;
    }
    .properties .home-in {
        background: #f2f2f2;
        display: inline-block;
        width: 100%;
        height: 37px;
    }
    .properties .home-in li {
        display: inline-block;
        float: left;
        width: 33.3333%;
        margin-bottom: 0px;
        padding-left: 10px;
        line-height: 37px;
    }
    .properties .home-in li span {
        font-size: 12px;
        color: #777777;
    }
    .properties .home-in li span i {
        font-size: 14px;
        margin-right: 5px;
    }
    .properties .detail-sec {
        background: #fff;
        padding: 25px;
        border: 1px solid #ececec;
        border-top: 2px solid #ff5722;
        margin-top: -6px;
    }
    .properties .detail-sec a {
        font-weight: 800;
        font-size: 16px;
        color: #222222;
        display: inline-block;
        width: 100%;
        margin: 0px;
        text-transform: uppercase;
    }
    .properties .detail-sec span.locate {
        display: inline-block;
        width: 100%;
        margin: 8px 0;
        color: #666666;
    }

    .properties .detail-sec span.locate i {
        margin-right: 10px;
    }
    .properties .detail-sec .share-p {
        display: inline-block;
        width: 100%;
        border-top: 1px solid #dddddd;
        padding-top: 10px;
    }
    .properties .detail-sec .share-p span {
        color: #222222;
        font-size: 16px;
    }
    .properties .detail-sec .share-p i {
        float: right;
        margin-left: 10px;
        margin-top: 5px;
        font-size: 16px;
        color: #777777;
    }
    /*============= Custom css start =============*/
    .properties .details-sec span.locate {
        display: inline-block;
        width: 100%;
        margin: 8px 0;
        color: #666666;
    }
    .properties .details-sec span.locate i {
        margin-right: 10px;
    }
    .properties .details-sec .share-p {
        display: inline-block;
        width: 100%;
        border-top: 1px solid #dddddd;
        padding-top: 10px;
    }
    .properties .details-sec .share-p span {
        color: #222222;
        font-size: 16px;
    }
    .properties .details-sec .share-p i {
        float: right;
        margin-left: 10px;
        margin-top: 5px;
        font-size: 16px;
        color: #777777;
    }
    .properties .details-sec {
        background: #fff;
        padding: 15px;
        border: 1px solid #ececec;
        border-top: 2px solid #ff5722;
        margin-top: -6px;
    }
    .properties .details-sec p {
        font-weight: 800;
        font-size: 14px;
        color: #2B3990;
        display: inline-block;
        width: 100%;
        margin: 0px;
        /*text-transform: uppercase;*/
    }
    .properties .details-sec p.ptype {
        font-weight: 800;
        font-size: 14px;
        color: #fff;
        display: inline-block;
        background-color: #006838;
        width: 40%;
        padding: 0 5px;
        /*margin: 5px;*/
        /*text-transform: uppercase;*/
    }
    .properties .details-sec ul {
        /*background: #f2f2f2;*/
        display: inline-block;
        width: 100%;
        height: 37px;
    }

                /*.properties .home_in {*/
                /*background: #f2f2f2;*/
                /*display: inline-block;
        width: 28%;
        height: 100%;
    }*/
    .properties .details-sec ul li {
        display: inline-block;
        float: left;
        width: 33.3333%;
        margin-bottom: 0px;
        /*padding-left: 10px;*/
        line-height: 37px;
    }
    .properties .home-in li span {
        font-size: 12px;
        color: #777777;
    }
    .properties .home-in li span i {
        font-size: 14px;
        margin-right: 5px;
    }
    /*============ Custom Css End =========*/
    .properties .img {
        position: relative;
        overflow: hidden;
    }
    .properties .over-proper {
        position: absolute;
        background: rgba(255,255,255,0.5);
        top: 0px;
        left: 0px;
        height: 100%;
        text-align: center;
        width: 100%;
        opacity: 0;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }
    .properties .over-proper .btn {
        margin-top: 28%;
        font-size: 13px;
        font-weight: bold;
        padding: 8px 30px;
    }
    .properties .over-proper .in-20 {
        padding: 10px;
    }
    .properties li:hover .over-proper {
        opacity: 1;
    }
    .properties li:hover .detail-sec a {
        color: #4caf50;
    }
    .properties li:hover section {
        box-shadow: 0px 3px 3px rgba(0,0,0,0.1);
    }
    .properties li .price-bg {
        background: #ff5722;
        display: inline-block;
        float: left;
        color: #fff;
        padding: 6px 20px;
        font-size: 13px;
        margin-right: 10px;
        line-height: 19px;
        margin-top: 10px;
    }
    .properties li a.btn {
        padding: 6px 20px;
        width: auto;
        font-size: 12px;
        color: #fff !important;
        margin-top: 10px;
    }

</style>
<!-- End Services Section -->
<!-- ======= PropertySection Section ======= -->
<section class="properties" id="property">

    <div class="tittle">
        <img src="~/Asserts/images/head-top.png" alt="">
        <h3>Featured Properties</h3>
    </div>

    <div class="load_properties">
    </div>

</section>
<!-- End Property Section -->
@section Scripts{
<script>
        $(document).ready(function (){
            getProperty()
        });


    function getProperty(){
            var curloc = $(location).attr('href');
            var url = curloc.split('/');
            var id = url[url.length - 1];
            $.ajax({
                url: "/PropertyDetails/PropertybyProjects/" + id,
                method: "Get",
                success: function(res){
                    var propertylist = "";
                    propertylist += '<ul class="row">';
                    $.each(res.data, function(index, value){
                        propertylist += '<li class="col-xs-12 col-sm-6 col-md-4 col-lg-4"><a href="/PropertyDetails/HomePropertyDetails/' + value.propertyInfoId + '"><div class="img"><img class="img-responsive" src="' + value.imagePath + '" height="165px" width="240px" alt=""><div class="over-proper"> <p class="btn font-montserrat">more details</p> </div></div><ul class="home-in"><li><span><i class="fa fa-home"></i>' + value.flatSize + '</span></li><li><span><i class="fa fa-bed"></i>' + value.numberOfBedrooms + ' BedRooms</span></li><li><span><i class="fa fa-tty"></i>' + value.numberOfBaths + ' Baths</span></li></ul><div class="detail-sec"><h5 class="fw-bold">' + value.title + '</h5><p class="text-success"> ' + value.propertyType.propertyTypeName + '</p> <span class="price font-montserrat">BDT. ' + value.totalPrice + ' Tk</span><span class="locate"><i class="fa fa-map-marker"></i>' + value.location + '</span><div class="share-p"> <span class="btn_more">' + " More Details" + '</span> </div></div></a></li>'
                    });
                    propertylist += '</ul>';
                    $(".load_properties").empty();
                    $(".load_properties").html(propertylist);

                }
            })
        }

        //function Getpropertiesbyproject(id){
        //    alert(id)

        //    $.ajax({
        //        url: "/PropertyDetails/PropertybyProjects?prjId="+id,
        //        method: "Get",
        //        success: function (res) {
        //            console.log(res.data)
        //            var propertylist = "";
        //            propertylist += '<ul class="row">';
        //            $.each(res.data, function (index, value) {
        //                console.log(value)
        //                console.log(value.numberOfBedrooms)

        //                propertylist += '<li class="col-xs-12 col-sm-6 col-md-4 col-lg-4"><a href="/PropertyDetails/HomePropertyDetails/' + value.propertyInfoId + '"><div class="img"><img class="img-responsive" src="' + value.path + '" height="165px" width="240px" alt=""><div class="over-proper"> <p class="btn font-montserrat">more details</p> </div></div><ul class="home-in"><li><span><i class="fa fa-home"></i>' + value.flatsize + '</span></li><li><span><i class="fa fa-bed"></i>' + value.numberOfBedrooms + '</span></li><li><span><i class="fa fa-tty"></i>' + value.numberOfBaths + '</span></li></ul><div class="detail-sec"><h5 class="fw-bold">' + value.title + '</h5><p class="text-success"> ' + value.propertyType.propertyTypeName + '</p> <span class="price font-montserrat">' + value.totalPrice + ' Tk</span><span class="locate"><i class="fa fa-map-marker"></i>' + value.location + '</span><div class="share-p"> <span class="btn_more">' + " More Details" + '</span> </div></div></a></li>'
        //            });
        //            console.log(propertylist);
        //            console.log("Hello");
        //            //console.log(PropertySize);
        //            propertylist += '</ul>';

        //            $("#property").show();
        //            $(".load_properties").empty();
        //            $(".load_properties").html(propertylist);
        //            //$("#exampleModalXl").modal('show')
        //        }
        //    })
        //}
</script>
 }

