@model USBDProperty.Models.PropertyType

@{
    ViewData["Title"] = "Create";
    if(User.IsInRole("Agent"))
    {
        Layout = "~/Views/Shared/_AgentLayout.cshtml";
    }   
    else
    {
       // Layout = "~/Views/Shared/_AdminLayout.cshtml";
        Layout = "~/Views/Shared/LayoutAdminLTe.cshtml";
    }
}


<div class="content-wrapper" style="min-height: 1345.31px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Locations</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">Properties</li>
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="PropertyTypes">Property Types</a></li>
                        <li class="breadcrumb-item active">Create</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Property Types</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="ParentPropertyTypeId" class="control-label"></label>
                                            <select asp-for="ParentPropertyTypeId" class="form-control" asp-items="@ViewBag.PropertyTypes">
                                                <option value="0">Select Parent</option>
                                            </select>
                                            <span asp-validation-for="ParentPropertyTypeId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="PropertyTypeName" class="control-label"></label>
                                            <input asp-for="PropertyTypeName" class="form-control" />
                                            <span asp-validation-for="PropertyTypeName" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-check col-md-6">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="IsLand" id="checkActive" /> @Html.DisplayNameFor(model => model.IsLand)
                                    </label>
                                </div>
                                <!-- /.card-body -->

                                <div class="card-footer">                                   
                                    <div class="row">
                                        <div class="col-md-9">
                                            <div class="form-group mt-2">
                                                <input type="submit" value="Save" class="btn btn-primary" />
                                            </div>
                                        </div>
                                        <div class="col-md-3 mt-2">
                                            <div class="form-group">
                                                <a asp-action="Index">Back to List</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </form>
                    </div>
                    <!-- /.card -->


                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div> 
                                                                                                                                                                                                                                                                                                                                                                                                




@* <div class="card">
    <div class="card-body">
        <h5 class="card-title text-center">Property Types Listing</h5>
        <hr style="width:100%; " />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label asp-for="ParentPropertyTypeId" class="control-label"></label>
                        <select asp-for="ParentPropertyTypeId" class="form-control" asp-items="@ViewBag.PropertyTypes">
                            <option value="0">Select Parent</option>
                        </select>
                        <span asp-validation-for="ParentPropertyTypeId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label asp-for="PropertyTypeName" class="control-label"></label>
                        <input asp-for="PropertyTypeName" class="form-control" />
                        <span asp-validation-for="PropertyTypeName" class="text-danger"></span>
                    </div>
                </div>

            </div>
            <div class="form-group form-check col-md-6">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsLand" id="checkActive" /> @Html.DisplayNameFor(model => model.IsLand)
                </label>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div><a asp-action="Index">Back to List</a></div>
                </div>
            </div>
        </form>
    </div>
</div> *@


