@model USBDProperty.Models.PropertyType

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-body">
        <h5 class="card-title text-center">Property Update Listing</h5>
        <hr style="width:100%;" />
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PropertyTypeId" />
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label asp-for="PropertyTypeName" class="control-label"></label>
                        <input asp-for="PropertyTypeName" class="form-control" />
                        <span asp-validation-for="PropertyTypeName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label asp-for="ParentPropertyTypeId" class="control-label"></label>
                        <input asp-for="ParentPropertyTypeId" class="form-control" asp-items="@ViewBag.PropertyTypes" />
                        <span asp-validation-for="ParentPropertyTypeId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group form-check col-md-12">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsLand" id="checkActive" /> @Html.DisplayNameFor(model => model.IsLand)
                </label>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-primary" id="btnUpdate" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div><a asp-action="Index">Back to List</a></div>
                </div>
            </div>

        </form>
    </div>
</div>

@*<h1>Edit</h1>

<h4>PropertyType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PropertyTypeId" />
            <div class="form-group">
                <label asp-for="PropertyTypeName" class="control-label"></label>
                <input asp-for="PropertyTypeName" class="form-control" />
                <span asp-validation-for="PropertyTypeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParentPropertyTypeId" class="control-label"></label>
                <input asp-for="ParentPropertyTypeId" class="form-control" asp-items="@ViewBag.PropertyTypes" />
                <span asp-validation-for="ParentPropertyTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
*@
