@model USBDProperty.Models.PropertyImages

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-body">
        <h5 class="card-title text-center">Multiple Property Images Update Listing</h5>
        <hr style="width:100%;"/>
         <form asp-action="Edit" method="post" asp-controller="PropertyImages" enctype="multipart/form-data">
             <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             <input type="hidden" asp-for="ID" />
             <div class="row">
                 <div class="col-sm-12 col-md-6">
                     <div class="form-group">
                         <label asp-for="propertyInfoId" class="control-label"> Property </label>
                        <select asp-for="propertyInfoId" class="form-control" asp-items="ViewBag.propertyInfoId">
                            @*<option value="0">Select Property</option>*@
                        </select>
                     </div>
                 </div>
                 <div class="col-sm-12 col-md-6">

                 </div>
             </div>
         </form>
    </div>
</div>



<h1>Edit</h1>

<h4>PropertyImages</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MultiImagePath" class="control-label"></label>
                <input asp-for="MultiImagePath" class="form-control" />
                <span asp-validation-for="MultiImagePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="propertyInfoId" class="control-label"></label>
                <select asp-for="propertyInfoId" class="form-control" asp-items="ViewBag.propertyInfoId"></select>
                <span asp-validation-for="propertyInfoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
