@model USBDProperty.ViewModels.ClientVM


@{
    ViewData["Title"] = "HomePropertyDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>

    figure img {
        max-width: 100%;
        min-width: 100%;
        display: block;
        height: 500px;
        width: 540px;
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    }

    #NavImg {
        list-style: none;
        margin: 0;
        text-align: left;
        display: flex;
        flex-wrap: wrap;
    }

    #NavImg li {
        margin: 0 5px;
        display: inline-block;
        width: 80px;
        border: 1px solid #fff;
        cursor: pointer;
    }

    #NavImg li img {
        display: block;
        opacity: 0.4;
        transition: 0.4s;
        height: 60px;
        margin: 4px;
        background: white;
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19)
    }

    h2 {
        font-size: 18px !important;
    }
</style>

<section class="properties">
    <div class="container">
        <div class="row">
            <div class="card">
                <div class="card-body row">
                    <div class="PropertyImages col-md-8">
                        <ul>
                            <li>
                                <section>
                                    <h2 id="propertytitle" class="card-title m-2"></h2>
                                    <div class="img">
                                        <img id="mainImg" class="img-responsive" />
                                        <ul id="NavImg">
                                        </ul>
                                    </div>
                                    <div class="load_HomePropertyDetailsById">
                                    </div>
                                    <ul>
                                        <li>
                                            <section style="padding: 13px 4px 13px 29px">
                                                <h3 class="m-2"> Property Feature </h3><hr/>
                                                <div>
                                                    <ul class="row">
                                                         <div id="load_HomePropertyFeatureById">

                                                         </div>
                                                    </ul>
                                                </div>
                                               
                                            </section>
                                        </li>
                                    </ul>
                                </section>
                            </li>
                        </ul>

                    </div>
                    <div class="col-md-4">
                        <div>
                            <div class="regi-sec">
                                <p class="text-center">Property Owner Details</p>
                                <hr style="width:100%" />
                                <form asp-action="Create" asp-controller="ClientContacts" method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <ul>
                                        <li>
                                            <p class="text-center">Send Message to Property Owner</p>
                                            <input type="text" asp-for="ClientName" class="form-control" placeholder="Enter Your Name" />
                                            <input type="hidden" name="PropertyID" asp-for="PropertyID" id="prid" />
                                            <input type="hidden" name="PropertyTypeId" id="typeID" asp-for="PropertyTypeId" />
                                            <input type="hidden" name="PropertyForId" id="forid" asp-for="PropertyForId" />
                                        </li>
                                        <li>
                                            <input type="email" asp-for="Email" class="form-control" placeholder="Enter Your E-mail" />
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </li>
                                        <li>
                                            <input type="text" asp-for="ContactNo" class="form-control" placeholder="Enter Your Phone" />
                                            <span asp-validation-for="ContactNo" class="text-danger"></span>
                                        </li>
                                        <li>
                                            <textarea type="text" asp-for="Message" class="form-control" placeholder="Please Type Your Message"></textarea>
                                            <span asp-validation-for="Message" class="text-danger"></span>
                                        </li>
                                        <li>
                                            <input type="submit" value="Send Message" class="btn btn-primary center" />
                                        </li>
                                    </ul>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--======= SIGN UP =========-->
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <div class="load_HomePropertyMiltiImagesbyId">
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>



@section Scripts{
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>

         $(document).ready(function (){
             getHomePropertyDetailsById()
             multipleImageSliderById()
             getHomeFeatureById()
         })
     function imageslide(e) {
        var imageURL = $(e).attr('src');
        $('#mainImg').fadeOut(500, function () {
            $(this).attr('src', imageURL);
        }).fadeIn(500);
    }

    function imageover(e) {
        //alert("over here")
        $(this).css({
            'opacity': 1,
            'background':'red'
        });
    }
    function imageOut(e) {

        $(this).css({
            'opacity': 0.4
        });
    }

         function multipleImageSliderById(){
            var curloc = $(location).attr('href');
            var url = curloc.split('/');
            var id = url[url.length - 1];
            $.ajax({
                url: "/PropertyImages/HomeImagePropertybyID/" + id,
                method:"Get",
                success: function(res){
                    var propertyImageSlide = "";
                    $.each(res.data, function(index, value){
                        $("#forid").val(value.propertyFor)
                        $("#typeID").val(value.propertyTypeId)
                        $("#prid").val(value.propertyInfoId)
                        $("#forid").val(value.propertyFor)
                        $("#typeID").val(value.propertyTypeId)
                        $("#prid").val(value.propertyInfoId)

                         propertyImageSlide += '<li><img onclick="imageslide(this)" width="90%" onmouseover="imageover(this)" onmouseout="imageOut(this)" id="slide_img" src="' + value.multiImagePath + '" ></li>'
                        });
                     $("#NavImg").empty()
                     $("#NavImg").html(propertyImageSlide)
                }
            })
         }

         function getHomePropertyDetailsById() {
             var curloc = $(location).attr('href');
             var url = curloc.split('/');
             var id = url[url.length - 1];
             $.ajax({
                 url: "/PropertyDetails/HomePropertybyID/" + id,
                 method: "Get",
                 success: function (res) {
                     var propertylist = "";
                     $.each(res.data, function (index, value) {
                         $("#forid").val(value.propertyFor)
                         $("#typeID").val(value.propertyTypeId)
                         $("#prid").val(value.propertyInfoId)
                         $("#forid").val(value.propertyFor)
                         $("#typeID").val(value.propertyTypeId)
                         $("#prid").val(value.propertyInfoId)
                          $("#propertytitle").html(value.title)
                         $("#mainImg").attr('src', value.imagePath);
                         propertylist = '<ul class="home-in"><li><span><i class="fa fa-home"></i>' + value.flatSize + " sqft" + '</span></li><li><span><i class="fa fa-bed"></i>' + value.numberOfBedrooms + " Bedrooms" + '</span></li><li><span><i class="fa fa-tty"></i>' + value.numberOfBaths + " Bathrooms" + '</span></li></ul><div class="detail-sec"><a href="#." class="font-montserrat">BDT. ' + value.totalPrice + 'Tk</a><span> ' + value.propertyTypeName + " For Sale" + ' </span> <span class="locate"><i class="fa fa-map-marker"></i>' + value.location + '</span><div class="share-p"> <span class="price font-montserrat">' + "Share this ad" + '</span> <i class="fa fa-star-o"></i><a name="fb_share" type="button" href="http://www.facebook.com/sharer.php"> <i class="fa fa-share-alt"></i></a> </div></div>                                                                       <ul><li><section style="padding: 13px 4px 13px 29px"><h3 class="m-2"> Property Summary</h3><hr/><div>    <div class="row"><div class=" col-xs-12 col-sm-12 col-md-6 col-lg-6"><ul><li><span><i class="fa fa-chevron-right"></i><b>Property Name : </b>' + value.flatSize + " " + value.propertyTypeName + " for " + value.propertyFor + " at " + value.location + " " + value.constructionStatus + " " + value.facing + " face " + '</span></li><li><span><i class="fa fa-chevron-right"></i><b>Property For : </b>' + " Sale" + '</span></li><li><span><i class="fa fa-chevron-right"></i><b>Address : </b>' + value.areaName + '</span></li><li><span><i class="fa fa-chevron-right"></i><b>Construction Status : </b>' + value.constructionStatus + '</span></li><li><span><i class="fa fa-chevron-right"></i><b>Property Condition : </b>' + value.propertyCondition + '</span></li><li><span><i class="fa fa-chevron-right"></i><b>Bedroom : </b>' + value.numberOfBedrooms + '</span></li><li><span><i class="fa fa-chevron-right"></i><b>Bathroom : </b>' + value.numberOfBaths + '</span></li><li><span><i class="fa fa-chevron-right"></i><b>Total Floor : </b>' + value.totalFloor + '</span></li><li><span><i class="fa fa-chevron-right"></i><b>Facing : </b>' + value.facing + '</span></li></ul></div>                                                                                                                        <div  class="col-xs-12 col-sm-12 col-md-6 col-lg-6"><ul><li><span><i class="fa fa-chevron-right"></i><b>Property Type : </b>' + value.propertyTypeName + '</span></li><li><span><i class="fa fa-chevron-right"></i><b>Location : </b>' + value.location + '</span></li><li><span><i class="fa fa-chevron-right"></i><b>Available From : </b>' + (new Date(value.handOverDate).toLocaleDateString('default', {month : 'long'}) + ' , ' + (new Date (value.handOverDate)).getFullYear()) + '</span></li><li><span><i class="fa fa-chevron-right"></i><b>Property Size : </b>' + value.flatSize + '</span></li><li><span><i class="fa fa-chevron-right"></i><b>Floor Available No : </b>' + value.floorAvailableNo + '</span></li><li><span><i class="fa fa-chevron-right"></i><b>Balconies : </b>' + value.numberOfBalconies + '</span></li><li><span><i class="fa fa-chevron-right"></i><b>Garages : </b>' + value.numberOfGarages + '</span></li><li><span><i class="fa fa-chevron-right"></i><b>Furnishing : </b>' + value.furnishing + '</span></li><li><span><i class="fa fa-chevron-right"></i><b>Land Area : </b>' + value.landArea + " " + value.name + '</span></li></ul></div></div></div></section></li></ul>                                                                    <ul><li><section style="padding: 13px 4px 13px 29px"><h3 class="m-2"> Property Description </h3><hr/><div><span>' + value.description + '</span></div></section></li></ul>      </div>'
                     });
                     $(".load_HomePropertyDetailsById").empty();
                     $(".load_HomePropertyDetailsById").html(propertylist);
                 }
             })
         }

         function getHomeFeatureById(){
             var curloc = $(location).attr('href');
             var url = curloc.split('/');
             id = url[url.length - 1];
             $.ajax({
                 url: "/PropertyDetails/PropertyWithFeature/" + id,
                 method: "Get",
                 success: function (res){
                     var featurelist = "";
                     $.each(res.data, function(index, value){
                         console.log(value);
                         //$("#forid").val(value.propertyFor)
                         //$("#typeID").val(value.propertyTypeId)
                         //$("#prid").val(value.propertyInfoId)
                         //$("#forid").val(value.propertyFor)
                         //$("#typeID").val(value.propertyTypeId)
                         //$("#prid").val(value.propertyInfoId)
                         //featurelist = '<ul><li><section style="padding: 13px 4px 13px 29px"><h3 class="m-2"> Property Feature </h3><hr/><div>    <ul><li><span><i class="fa fa-chevron-right"></i>' + value.propertyFeatures.propertyFeatureName + '</span></li></ul></div></section></li></ul> '
                         featurelist += '<li class="col-xs-3 col-lg-4 col-md-4 col-sm-12 "><span><i class="fa fa-check-circle-o"></i>' + value.propertyFeatures.propertyFeatureName + '</span></li>'
                     })
                     $("#load_HomePropertyFeatureById").empty();
                     $("#load_HomePropertyFeatureById").html(featurelist);
                 }
             })
         }

</script>

}






