@model USBDProperty.ViewModels.ClientVM


@{
    ViewData["Title"] = "HomePropertyDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    img {
        width: 100%;
    }

    .height {
        height: 10px;
    }

    /* Image-container design */
    .image-container {
        max-width: 800px;
        position: relative;
        margin: auto;
    }

    .next {
        right: 0;
    }

    /* Next and previous icon design */
    .previous,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        padding: 10px;
        margin-top: -25px;
    }

    /* caption decorate */
    .captionText {
        color: #000000;
        font-size: 14px;
        position: absolute;
        padding: 12px 12px;
        bottom: 8px;
        width: 100%;
        text-align: center;
    }

    /* Slider image number */
    .slideNumber {
        background-color: #5574C5;
        color: white;
        border-radius: 25px;
        right: 0;
        opacity: .5;
        margin: 5px;
        width: 30px;
        height: 30px;
        text-align: center;
        font-weight: bold;
        font-size: 24px;
        position: absolute;
    }

    .fa {
        font-size: 32px;
    }

        .fa:hover {
            transform: rotate(360deg);
            transition: 1s;
            color: white;
        }

    .footerdot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbbbbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.5s ease;
    }

        .active,
        .footerdot:hover {
            background-color: black;
        }
</style>

<!-- Image container of the image slider -->
<div class="image-container">
    <div class="slide">
        <div class="slideNumber">1</div>
        <img src="https://www.geeksforgeeks.org/wp-content/uploads/html-768x256.png">
    </div>
    <div class="slide">
        <div class="slideNumber">2</div>
        <img src="https://www.geeksforgeeks.org/wp-content/uploads/CSS-768x256.png">
    </div>
    <div class="slide">
        <div class="slideNumber">3</div>
        <img src="https://www.geeksforgeeks.org/wp-content/uploads/jquery-banner.png">
    </div>

    <!-- Next and Previous icon to change images -->
    <a class="previous" onclick="moveSlides(-1)">
        <i class="fa fa-chevron-circle-left"></i>
    </a>
    <a class="next" onclick="moveSlides(1)">
        <i class="fa fa-chevron-circle-right"></i>
    </a>
</div>
<br>

<div style="text-align:center">
    <span class="footerdot" onclick="activeSlide(1)">
    </span>
    <span class="footerdot" onclick="activeSlide(2)">
    </span>
    <span class="footerdot" onclick="activeSlide(3)">
    </span>
</div>

<script>
    let slideIndex = 1;
    displaySlide(slideIndex);

    function moveSlides(n) {
        displaySlide(slideIndex += n);
    }

    function activeSlide(n) {
        displaySlide(slideIndex = n);
    }

    /* Main function */
    function displaySlide(n) {
        let i;
        let totalslides =
            document.getElementsByClassName("slide");

        let totaldots =
            document.getElementsByClassName("footerdot");

        if (n > totalslides.length) {
            slideIndex = 1;
        }
        if (n < 1) {
            slideIndex = totalslides.length;
        }
        for (i = 0; i < totalslides.length; i++) {
            totalslides[i].style.display = "none";
        }
        for (i = 0; i < totaldots.length; i++) {
            totaldots[i].className =
                totaldots[i].className.replace(" active", "");
        }
        totalslides[slideIndex - 1].style.display = "block";
        totaldots[slideIndex - 1].className += " active";
    }
</script>



<section class="properties">
    <div class="container">
        <div class="row">
            <div class="card">
                <div class="card-body row">
                    <div class="load_HomePropertyDetailsById col-md-8">
                    </div>
                    <div class="col-md-4">
                        <div>
                            <div class="regi-sec">
                                <p class="text-center">Property Owner Details</p>
                                <hr style="width:100%" />

                                @*<span class="regi-tag text-center">Send Message to Property Owner</span>*@
                                <form asp-action="Create" asp-controller="ClientContacts" method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <ul>
                                        <li>
                                            <p class="text-center">Send Message to Property Owner</p>
                                            <input type="text" asp-for="ClientName" class="form-control" placeholder="Enter Your Name" />
                                            <input type="hidden" name="PropertyID" asp-for="PropertyID" id="prid" />
                                            <input type="hidden" name="PropertyTypeId" id="typeID" asp-for="PropertyTypeId" />
                                            <input type="hidden" name="PropertyForId" id="forid" asp-for="PropertyForId" />
                                            <input type="hidden" name="Interested" id="form_buy" value="@Interested.Buy" />
                                            <span asp-validation-for="ClientName" class="text-danger"></span>
                                        </li>
                                        <li>
                                            <input type="email" asp-for="Email" class="form-control" placeholder="Enter Your E-mail" />
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </li>
                                        <li>
                                            <input type="text" asp-for="ContactNo" class="form-control" placeholder="Enter Your Phone" />
                                            <span asp-validation-for="ContactNo" class="text-danger"></span>
                                        </li>
                                        <li>
                                            <textarea type="text" asp-for="Message" class="form-control" placeholder="Please Type Your Message"></textarea>
                                            <span asp-validation-for="Message" class="text-danger"></span>
                                        </li>
                                        <li>
                                            <input type="submit" value="Send Message" class="btn btn-primary center" />
                                        </li>
                                    </ul>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--======= SIGN UP =========-->
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <div class="load_HomePropertyDetails">
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>



@section Scripts{
<script>
    $(document).ready(function (){

        getHomePropertyDetailsById()
    })
            function getHomePropertyDetailsById() {
                var curloc = $(location).attr('href');
                var url = curloc.split('/');
                //console.log(url);
                var id = url[url.length - 1];
                $.ajax({
                    url: "/PropertyDetails/HomePropertybyID/" + id,
                    method: "Get",
                    success: function (res) {
                        var propertylist = "";
                        $.each(res.data, function (index, value) {
                            $("#forid").val(value.propertyFor)
                            $("#typeID").val(value.propertyTypeId)
                            $("#prid").val(value.propertyInfoId)
                            //console.log("Propertyimage")
                            $("#forid").val(value.propertyFor)
                            $("#typeID").val(value.propertyTypeId)
                            $("#prid").val(value.propertyInfoId)

                            propertylist = '<ul  ><li><section><h5 class="card-title m-2">' + value.flatSize + " " + value.propertyTypeName + " for " + value.propertyFor + " at " + value.location + " " + value.constructionStatus + " " + value.facing + " face " +'</h5><div class="img"><img class="img-responsive" src="' + value.imagePath + '" alt="'+ value.title+'"></div><div class=""></div><ul class="home-in"><li><span><i class="fa fa-home"></i>' + value.flatSize + " sqft" + '</span></li><li><span><i class="fa fa-bed"></i>' + value.numberOfBedrooms + " Bedrooms" + '</span></li><li><span><i class="fa fa-tty"></i>' + value.numberOfBaths + " Bathrooms" + '</span></li></ul><div class="detail-sec"><a href="#." class="font-montserrat">BDT. ' + value.totalPrice + 'Tk</a><span> ' + value.propertyTypeName + " For Sale" + ' </span> <span class="locate"><i class="fa fa-map-marker"></i>' + value.location + '</span><div class="share-p"> <span class="price font-montserrat">' + "Share this ad" + '</span> <i class="fa fa-star-o"></i><a name="fb_share" type="button" href="http://www.facebook.com/sharer.php"> <i class="fa fa-share-alt"></i></a> </div></div></section></li> </ul>                                                                       <ul><li><section style="padding: 13px 4px 13px 29px"><h3 class="m-2"> Property Summary</h3><hr/><div>    <div class="row"><div class=" col-xs-12 col-sm-12 col-md-6 col-lg-6"><ul><li><span><i class="fa fa-chevron-right"></i><b>Property Name : </b>' + value.title + '</span></li><li><span><i class="fa fa-chevron-right"></i><b>Property For : </b>' + " Sale" + '</span></li><li><span><i class="fa fa-chevron-right"></i><b>Address : </b>' + value.areaName + '</span></li><li><span><i class="fa fa-chevron-right"></i><b>Construction Status : </b>' + value.constructionStatus + '</span></li><li><span><i class="fa fa-chevron-right"></i><b>Property Condition : </b>' + value.propertyCondition + '</span></li><li><span><i class="fa fa-chevron-right"></i><b>Bedroom : </b>' + value.numberOfBedrooms + '</span></li><li><span><i class="fa fa-chevron-right"></i><b>Bathroom : </b>' + value.numberOfBaths + '</span></li><li><span><i class="fa fa-chevron-right"></i><b>Total Floor : </b>' + value.totalFloor + '</span></li><li><span><i class="fa fa-chevron-right"></i><b>Facing : </b>' + value.facing + '</span></li></ul></div>                                                                                                                        <div  class="col-xs-12 col-sm-12 col-md-6 col-lg-6"><ul><li><span><i class="fa fa-chevron-right"></i><b>Property Type : </b>' + value.propertyTypeName + '</span></li><li><span><i class="fa fa-chevron-right"></i><b>Location : </b>' + value.location + '</span></li><li><span><i class="fa fa-chevron-right"></i><b>Available From : </b>' + (new Date(value.handOverDate).toLocaleDateString('default', {month : 'long'}) + ' , ' + (new Date (value.handOverDate)).getFullYear()) + '</span></li><li><span><i class="fa fa-chevron-right"></i><b>Property Size : </b>' + value.flatSize + '</span></li><li><span><i class="fa fa-chevron-right"></i><b>Floor Available No : </b>' + value.floorAvailableNo + '</span></li><li><span><i class="fa fa-chevron-right"></i><b>Balconies : </b>' + value.numberOfBalconies + '</span></li><li><span><i class="fa fa-chevron-right"></i><b>Garages : </b>' + value.numberOfGarages + '</span></li><li><span><i class="fa fa-chevron-right"></i><b>Furnishing : </b>' + value.furnishing + '</span></li><li><span><i class="fa fa-chevron-right"></i><b>Land Area : </b>' + value.landArea + " " + value.name + '</span></li></ul></div></div></div></section></li></ul>                                                                    <ul><li><section style="padding: 13px 4px 13px 29px"><h3 class="m-2"> Property Description </h3><hr/><div>    <ul><li><span>' + value.description + '</span></li></ul></div></section></li></ul>      </div>'


                        });
                        //console.log(propertylist);
                        $(".load_HomePropertyDetailsById").empty();
                        $(".load_HomePropertyDetailsById").html(propertylist);
                    }
                })

                //$.ajax({
                //    url: "/PropertyDetails/HomePropertybyID/" + id,
                //    method: "Get",
                //    success: function (res) {
                //        var propertylist = "";
                //        $.each(res.data, function (index, value) {
                //            $("#forid").val(value.propertyFor)
                //            $("#typeID").val(value.propertyTypeId)
                //            $("#prid").val(value.propertyInfoId)
                //            //console.log("Propertyimage")
                //            $("#forid").val(value.propertyFor)
                //            $("#typeID").val(value.propertyTypeId)
                //            $("#prid").val(value.propertyInfoId)

                //            propertylist = '<ul  ><li><section><h5 class="card-title m-2">' + value.flatSize + " " + value.propertyTypeName + " for " + value.propertyFor + " at " + value.location + " " + value.constructionStatus + " " + value.facing + " face " +'</h5><div class="img"><img class="img-responsive" src="' + value.imagePath + '" alt="'+ value.title+'"></div><div class=""></div><ul class="home-in"><li><span><i class="fa fa-home"></i>' + value.flatSize + " sqft" + '</span></li><li><span><i class="fa fa-bed"></i>' + value.numberOfBedrooms + " Bedrooms" + '</span></li><li><span><i class="fa fa-tty"></i>' + value.numberOfBaths + " Bathrooms" + '</span></li></ul><div class="detail-sec"><a href="#." class="font-montserrat">BDT. ' + value.totalPrice + 'Tk</a><span> ' + value.propertyTypeName + " For Sale" + ' </span> <span class="locate"><i class="fa fa-map-marker"></i>' + value.location + '</span><div class="share-p"> <span class="price font-montserrat">' + "Share this ad" + '</span> <i class="fa fa-star-o"></i><a name="fb_share" type="button" href="http://www.facebook.com/sharer.php"> <i class="fa fa-share-alt"></i></a> </div></div></section></li> </ul>'
                //});
                //        //console.log(propertylist);
                //        $(".load_HomePropertyDetailsById").empty();
                //        $(".load_HomePropertyDetailsById").html(propertylist);
                //    }
                //})
            }
</script>
}





@*<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>*@

