@model USBDProperty.Models.ProjectImageGallery

@* @{
    ViewData["Title"] = "Edit";
    // Layout = "~/Views/Shared/_AdminLayout.cshtml";
     Layout = "~/Views/Shared/LayoutAdminLTe.cshtml";
} *@


@{
    ViewData["Title"] = "Edit";
    if (User.IsInRole("Agent"))
    {
        Layout = "~/Views/Shared/_AgentLayout.cshtml";
    }
    else
    {
        // Layout = "~/Views/Shared/_AdminLayout.cshtml";
        Layout = "~/Views/Shared/LayoutAdminLTe.cshtml";
    }
}


<div class="content-wrapper" style="min-height: 1345.31px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Projects Information</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="ProjectImageGalleries">Project Images</a></li>
                        <li class="breadcrumb-item active">Edit</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Project Images</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        @* <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="AreaId" />
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="AreaName" class="control-label"></label>
                                            <input asp-for="AreaName" class="form-control" />
                                            <span asp-validation-for="AreaName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="CityId" class="control-label"></label>
                                            <select asp-for="CityId" class="form-control" asp-items="ViewBag.CityId"></select>
                                            <span asp-validation-for="CityId" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card-body -->

                                <div class="card-footer">
                                    <div class="row">
                                        <div class="col-md-9">
                                            <div class="form-group mt-2">
                                                <input type="submit" value="Update" class="btn btn-primary" />
                                            </div>
                                        </div>
                                        <div class="col-md-3 mt-2">
                                            <div class="form-group">
                                                <a asp-action="Index">Back to List</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </form> *@

                        <form asp-action="Edit" method="post" asp-controller="ProjectImageGalleries" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" />
                            <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group">
                                        <label asp-for="ProjectID" class="control-label"></label>
                                        <select asp-for="ProjectID" class="form-control" asp-items="ViewBag.ProjectID"></select>
                                        <span asp-validation-for="ProjectID" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Name" class="control-label"></label>
                                        <input asp-for="Name" class="form-control" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label asp-for="ImageFile" class="control-label"> Image Upload</label>
                                        <input type="file" id="files" name="ImageFile" class="form-control" accept="image/*" multiple />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div style="width:180px;height:180px; border:2px solid #012970; border-radius:10px; padding:10px;">
                                        <img src="@Url.Content(Model.ImagePath)" style="width:155px;height:155px;" alt="@Model.Name" id="imgPreview" />

                                        <input type="text" asp-for="ImagePath" class="form-control" name="Image" id="path" hidden />
                                    </div>
                                    <button type="button" id="btnChange" class="btn btn-primary mt-3">Change</button>
                                </div>
                            </div>
                            </<div>


                            <div class="card-footer">
                               <div class="row">
                                   <div class="col-md-9">
                                       <div class="form-group mt-2">
                                           <input type="submit" value="Update" class="btn btn-primary" />
                                       </div>
                                   </div>
                                   <div class="col-md-3 mt-2">
                                       <div class="form-group">
                                           <a asp-action="Index">Back to List</a>
                                       </div>
                                   </div>
                               </div>
                            </div>

                            @* <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="submit" value="Update" class="btn btn-primary" id="btnSave" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div><a asp-action="Index">Back to List</a></div>
                                </div>
                            </div> *@
                        </form>
                    </div>
                    <!-- /.card -->


                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>




@* <div class="card">
    <div class="card-body">
        <h5 class="card-title text-center">Property Images Update Listing</h5>
        <hr style="width:100%;" />
        <form asp-action="Edit" method="post" asp-controller="ProjectImageGalleries" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label asp-for="ProjectID" class="control-label"></label>
                        <select asp-for="ProjectID" class="form-control" asp-items="ViewBag.ProjectID"></select>
                        <span asp-validation-for="ProjectID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label asp-for="ImageFile" class="control-label"> Image Upload</label>
                        <input type="file" id="files" name="ImageFile" class="form-control" accept="image/*" multiple />
                    </div>
                </div>
                <div class="col-md-4">
                    <div style="width:180px;height:180px; border:2px solid #012970; border-radius:10px; padding:10px;">
                        <img src="@Url.Content(Model.ImagePath)" style="width:155px;height:155px;" alt="@Model.Name" id="imgPreview" />

                        <input type="text" asp-for="ImagePath" class="form-control" name="Image" id="path" hidden />
                    </div>
                    <button type="button" id="btnChange" class="btn btn-primary mt-3">Change</button>
                </div>
            </div>



            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-primary" id="btnSave" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div><a asp-action="Index">Back to List</a></div>
                </div>
            </div>
        </form>
    </div>
</div> *@




@section Scripts {
<script>
    $(document).ready(function (){
        var isChanged = false;
        $("#btnChange").show();
        $("#files").hide();
        $("#btnChange").click(function () {
             $("#files").show();
             $("#btnChange").hide();
        });



         $("#files").change(function () {
         const file = this.files[0];
         if (file) {
             let reader = new FileReader();
             reader.onload = function (event) {
                 $("#imgPreview").attr('src', event.target.result);
             }
             reader.readAsDataURL(file);
         }
     });

    })
</script>
}




