@model USBDProperty.Models.MeasurementUnit

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Update Measurement Unit</h5>
        <hr style="width:100%;" />
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label asp-for="ShortName" class="control-label"></label>
                        <input asp-for="ShortName" class="form-control" />
                        <span asp-validation-for="ShortName" class="text-danger"></span>
                    </div>
                </div>
            </div>
             <div class="row">
                    <div class="col-md-9">
                        <div class="form-group mt-2">
                            <input type="submit" value="Update" class="btn btn-primary" />
                        </div>
                    </div>
                    <div class="col-md-3 mt-2">
                        <div class="form-group">
                            <a asp-action="Index">Back to List</a>
                        </div>
                    </div>
                </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
