@model USBDProperty.Models.Country

@{
    ViewData["Title"] = "Edit";
    if(User.IsInRole("Agent"))
    {
        Layout = "~/Views/Shared/_AgentLayout.cshtml";
    }
    else
    {
        // Layout = "~/Views/Shared/_AdminLayout.cshtml";
        Layout = "~/Views/Shared/LayoutAdminLte.cshtml";
    }
}



<div class="content-wrapper" style="min-height: 1345.31px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Locations</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Countries">Country</a></li>
                        <li class="breadcrumb-item active">Edit</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Updating Country</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                       @*  <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="CityId" />
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="CityName" class="control-label"></label>
                                            <input asp-for="CityName" class="form-control" />
                                            <span asp-validation-for="CityName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="DivisionId" class="control-label"></label>
                                            <select asp-for="DivisionId" class="form-control" asp-items="ViewBag.CityId"></select>
                                            <span asp-validation-for="DivisionId" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card-body -->

                                <div class="card-footer">
                                    <div class="row">
                                        <div class="col-md-9">
                                            <div class="form-group mt-2">
                                                <input type="submit" value="Update" class="btn btn-primary" />
                                            </div>
                                        </div>
                                        <div class="col-md-3 mt-2">
                                            <div class="form-group">
                                                <a asp-action="Index">Back to List</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </form> *@
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="CountryID" />
                            <div class="card-body">
                            <div class="form-group">
                                <label asp-for="CountryName" class="control-label"></label>
                                <input asp-for="CountryName" class="form-control" />
                                <span asp-validation-for="CountryName" class="text-danger"></span>
                            </div>
                           </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-md-9">
                                        <div class="form-group mt-2">
                                            <input type="submit" value="Update" class="btn btn-primary" />
                                        </div>
                                    </div>
                                    <div class="col-md-3 mt-2">
                                        <div class="form-group">
                                            <a asp-action="Index">Back to List</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->


                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

@* <main id="main">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"><a asp-action="Index" asp-controller="Countries"><i class="bi bi-arrow-left"></i></a> Updating Country</h5>
            <hr />
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="CountryID" />
                <div class="form-group">
                    <label asp-for="CountryName" class="control-label"></label>
                    <input asp-for="CountryName" class="form-control" />
                    <span asp-validation-for="CountryName" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <div class="form-group mt-2">
                           <input type="submit" value="Update" class="btn btn-primary" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <a asp-action="Index">Back to List</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main> *@



