@{
    ViewBag.Title = "ContactUs-USBDProperty";
}

<style>
    .contact a{
        color: #b88d31!important;
        font-size:34px;
    }
</style>
<div style="color:black; margin:2px auto" class="row contact">
    <div class="center">
        <img src="~/Content/Fixed Img/contact-Powersoftit.png" width="100%" alt="PowersoftIt contact" class="center" />
    </div>
  
    <div class="col-md-12 row">
        <h2 class="text-center col-md-12" style="align-content:center"> Reach Us At </h2>
        <i class="fa fa-arrow-circle-down text-center col-md-12" style="        font-size: 30px;
        color: #b88d31;
        align-content: center"></i>
        <hr class="text-center col-md-12" />
        <div class="col-md-6 " style="border-right:dotted 2px #0094ff; margin-left:60px ;padding-left:15px;">
           
            <h2>USA Office Address</h2>
            <hr />
            <address style="color: #b88d31; font-size: 2rem;">
                <i class="fa fa-location-arrow" style="color: #b88d31"></i> 39 Headline, 
               Road No#:Deer Park
                New York-11729
                
                @* @Html.Raw(Model.Address) *@
            </address>
            <div class="text-lg-center">
                <a href="emailto:ashraf@usbdproperty.com" style="color: #b88d31!important
">
                <i class="fa fa-envelope-square" style="color: #b88d31
"></i>  ashraf@usbdproperty.com
                </a>
                <br />
                @* <i class="fa fa-envelope" style="        color: #f4824a
"></i>  @Model.Email

                <br /> *@
                <a href="tel:+88 0188660077" style="color: #b88d31!important">
                    <i class="fa fa-phone" style="color: #b88d31"></i>   +88 0188660077
                </a>
            </div>
        </div>
        <div class="col-md-5" style="color: #b88d31
">
            <h2>Bangladesh Office Address</h2>
            <hr />
            <address style="color: #b88d31; font-size: 2rem;">
                <i class="fa fa-location-arrow" style="color: #b88d31"></i> US-BD Property,
               567(2nd floor),East-Kazipara, Kazipara,Mirpur,Dhaka-1216
            </address>
            <div class="text-lg-center">
                <a emailto:ashraf@usbdproperty.com>
                <i class="fa fa-envelope-square" style="color: #b88d31
"></i>  ashraf@usbdproperty.com
                </a>
                <br />
                @* <i class="fa fa-phone" style="color: #b88d31"></i> 
                +88 0188660077 *@
                <a href="tel:+88 0188660077" style="color: #b88d31!important">
                    <i class="fa fa-phone" style="color: #b88d31"></i>   +88 0188660077
                </a>

            </div>
        </div>
    </div>
    <div class="col-md-12">
        
        <h2 class="text-center col-md-12" style="align-content:center"> Find US-BDProperty in Map </h2>
        <i class="fa fa-arrow-circle-down text-center col-md-12" style="        font-size: 30px;
        color: #b88d31;
        align-content: center"></i>
        <hr class="text-center col-md-12" />
         
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3650.7030655230246!2d90.36300271429782!3d23.793585893043648!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c15dac058dd7%3A0x7f39befc210c74b5!2sPowersoftIT%20Bangladesh!5e0!3m2!1sen!2sbd!4v1632617519567!5m2!1sen!2sbd" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div> 