@*@model USBDProperty.Models.ClientContact*@
@model USBDProperty.ViewModels.ClientVM


@{
    ViewData["Title"] = "Home Page";
}

<!--======= BANNER =========-->
<div id="banner">
    <div class="flex-banner">

        <ul class="slides">
            <!--======= SLIDER =========-->



            <li> <img src="~/Asserts/Banner/HomeBanner.jpg" alt=""> </li>
            <li> <img src="~/Asserts/Banner/Dharittree banner-1.jpg" alt=""> </li>

            <li> <img src="~/Asserts/Banner/service-img-1.jpg" alt=""> </li>
            <li> <img src="~/Asserts/Banner/Dharittree banner-2.jpg" alt=""> </li>
            <li> <img src="~/Asserts/Banner/Dharittree banner-3.jpg" alt=""> </li>
            <li> <img src="~/Asserts/Banner/Dharittree banner-4.jpg" alt=""> </li>
            <li> <img src="~/Asserts/Banner/Dharittree banner-5.jpg" alt=""> </li>
            <li> <img src="~/Asserts/Banner/Dharittree banner-6.jpg" alt=""> </li>

        </ul>





        <!-- Modal -->
        <!--======= FIND PROPERTY =========-->
        <div class="finder">
            <div class="zoomBtn">
                @*<button type="button" class="btn" data-toggle="modal" data-target="#exampleModal"> just contact us </button>*@
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter"> Join For Zoom </button>

            </div>
            <div class="container">
                @* <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"> just contact us </button>*@
                <form asp-action="MoreSearch" asp-controller="PropertyDetails" method="get">
                    @*<h1>Us-Bd Properties Ltd.</h1>*@
                    <!--======= FORM SECTION =========-->
                    <div class="find-sec">
                        <div class="search-type">
                            <span class="search-type-tab active">
                                @*<img src="/img/icon-Hotel.5d80c2e2.svg" alt="Hotel" width="25" height="18">*@
                                Buy
                            </span>
                            <span class="search-type-tab">
                                @*<img src="/img/icon-Tour.ca16ca10.svg" alt="Tour" width="25" height="18">*@
                                Rent
                            </span>
                        </div>
                        <ul class="row">

                            <!--======= FORM =========-->
                            <li class="col-sm-6">
                                <label>Choose The City</label>
                                <select class="form-control" asp-items="ViewBag.AreaId" name="AreaId" id="AreaId">
                                    <option>Area</option>
                                </select>
                            </li>

                            <!--======= FORM =========-->
                            <li class="col-sm-6">
                                <label>Location</label>
                                <select id="propertyInfoId" class="form-control"></select>

                            </li>

                        </ul>
                    </div>
                    <div class="search-btn-container">
                        <button type="submit" class="search-btn">Search</button>
                    </div>
                </form>
            </div>
        </div>

    </div>

</div>

<!-- Button trigger modal -->
@*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Launch demo modal
    </button>*@

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Join For Zoom</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
           @*  <form asp-action="Create" asp-controller="ClientContacts" method="post" id="form_zoom"> *@
            <form  id="form_zoom">
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <ul>
                        <li class="mb-2">
                            <p class="text-center">Join Zoom Abason Mela</p>
                            <input type="text"  id="ClientName" class="form-control" placeholder="Enter Your Name" />
                            @* <input type="hidden" name="PropertyID" asp-for="PropertyID" id="prid" />
                                <input type="hidden" name="PropertyTypeId" id="typeID" asp-for="PropertyTypeId" />
                                <input type="hidden" name="PropertyForId" id="forid" asp-for="PropertyForId" />*@
                            <span asp-validation-for="ClientName" class="text-danger"></span>
                        </li>
                        <li class="mb-2">
                            <input type="email" id="Email" class="form-control" placeholder="Enter Your E-mail" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </li>
                        <li class="mb-2">
                            <input type="text" id="ContactNo" class="form-control" placeholder="Enter Your Phone" />
                            <span asp-validation-for="ContactNo" class="text-danger"></span>
                        </li>
                        <li class="mb-2">
                            <textarea type="text" id="Message" class="form-control" placeholder="Please Type Your Message"></textarea>
                            <span asp-validation-for="Message" class="text-danger"></span>
                        </li>
                    </ul>
                </div>

                <div class="modal-footer">
                    
                   
                  @*   <button type="submit" class="btn btn-primary" asp-items="@ViewData["Interested"]" value="@Interested.ZoomInterested">Save</button> *@
                    <button type="button" class="btn btn-primary" onclick="PostClientData()">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Contact with Us</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="Create" asp-controller="ClientContacts" method="post" id="form_Sale">
                <div class="modal-body">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <ul>
                        <li class="mb-2">
                            <p class="text-center">Send Message to Property Owner</p>
                            <input type="text" asp-for="ClientName" class="form-control" placeholder="Enter Your Name" />
                            @* <input type="hidden" name="PropertyID" asp-for="PropertyID" id="prid" />
                                <input type="hidden" name="PropertyTypeId" id="typeID" asp-for="PropertyTypeId" />
                                <input type="hidden" name="PropertyForId" id="forid" asp-for="PropertyForId" />*@
                            <span asp-validation-for="ClientName" class="text-danger"></span>
                        </li>
                        <li class="mb-2">
                            <input type="email" asp-for="Email" class="form-control" placeholder="Enter Your E-mail" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </li>
                        <li class="mb-2">
                            <input type="text" asp-for="ContactNo" class="form-control" placeholder="Enter Your Phone" />
                            <span asp-validation-for="ContactNo" class="text-danger"></span>
                        </li>
                        <li class="mb-2">
                            <textarea type="text" asp-for="Message" class="form-control" placeholder="Please Type Your Message"></textarea>
                            <span asp-validation-for="Message" class="text-danger"></span>
                        </li>
                        <li>
                            @*<input type="submit" value="Send Message" class="btn btn-primary center mb-2" />*@
                        </li>
                    </ul>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    @*<input type="submit" value="Send Message" class="btn btn-primary center mb-2" />*@
                    <button type="submit" value="@Interested.Sale" asp-items="@ViewData["Interested"]" class="btn btn-primary center mb-2">Save</button>
                    @*<button type="button" class="btn btn-primary">Save changes</button>*@
                </div>
            </form>
        </div>

    </div>
</div>


<!--======= PROPERTY =========-->
@*<section class="property-slide">

    <!--======= PROPERTY SLIDER =========-->
    <div class="prot-slide">
    <!--======= PROPERTY SLIDE =========-->
    <div id="bannerslide" class="owl-carousel owl-theme">
    </div>
    </div>
    </section>*@

<!--======= SERVICES =========-->
<section class="services">
    <div class="container">
        @*height="337px" width="271px" *@
        <!--======= TITTLE =========-->
        <div class="tittle">
            <img src="~/Asserts/images/head-top.png" alt="">
            <h3>services we provide</h3>

        </div>
        <ul class="row">

            <!--======= SERVICE SECTION =========-->
            <li class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <section>
                    <!--======= SERVICE IMG =========-->
                    <img class="img-responsive" src="~/Asserts/Banner/service-img-1.jpg" alt="">
                    @*<div class="icon"> <img src="~/Asserts/images/icon-services-1.png" alt=""> </div>*@

                    <!--======= SERVICE HOVER =========-->
                    <div class="ser-hover">
                        <p>
                            Are you ready to embark on the journey of a lifetime, securing your own piece of paradise? At USBDPROPERTY, we understand that buying a property is more than a transaction; it's an smart investment and you can call your own.
                            @* <a href="#." class="read-more">Read more <i class="fa fa-angle-double-right"></i></a>*@
                        </p>
                    </div>
                    <a href="#." class="heading">Buy</a>
                </section>
            </li>

            <!--======= SERVICE SECTION =========-->
            <li class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <section>
                    <!--======= SERVICE IMG =========-->
                    <img class="img-responsive" src="~/Asserts/Banner/service-img-2.jpg" alt="">
                    @*<div class="icon"> <img src="~/Asserts/images/icon-services-2.png" alt=""> </div>*@

                    <!--======= SERVICE HOVER =========-->
                    <div class="ser-hover">
                        <p>
                            "Your Property, Your Journey: Sell with USBDPROPERTY"
                            Selling your property is more than a transaction; it's a significant milestone in your life. At USBDPROPERTY, we understand the importance of this journey, and we're here to make it seamless, rewarding, and tailored to your needs.

                        </p>
                    </div>
                    <a href="#." class="heading">Sale</a>
                </section>
            </li>

            <!--======= SERVICE SECTION =========-->
            <li class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <section>
                    <!--======= SERVICE IMG =========-->
                    <img class="img-responsive" src="~/Asserts/Banner/service-img-3.jpg" alt="">
                    @*<div class="icon"> <img src="~/Asserts/images/icon-services-3.png" alt=""> </div>*@

                    <!--======= SERVICE HOVER =========-->
                    <div class="ser-hover">
                        <p>
                            Seamless Living Starts Here: Rent with USBDPROPERTY"

                            Your dream rental is more than just a space; it's a place where your lifestyle unfolds. At [Your Company], we understand the importance of finding the perfect rental property tailored to your needs
                        </p>
                    </div>
                    <a href="#." class="heading">Rent</a>
                </section>
            </li>

            <!--======= SERVICE SECTION =========-->
            <li class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <section>
                    <!--======= SERVICE IMG =========-->
                    <img class="img-responsive" src="~/Asserts/Banner/service-img-4.jpg" alt="">
                    @*<div class="icon"> <img src="~/Asserts/images/icon-services-4.png" alt=""> </div>*@

                    <!--======= SERVICE HOVER =========-->
                    <div class="ser-hover">
                        <p>And when the odds are against him and their dangers work to do. You bet your life Speed Racer <a href="#." class="read-more">Read more <i class="fa fa-angle-double-right"></i></a> </p>
                    </div>
                    <a href="#." class="heading">Custom Services</a>
                </section>
            </li>
        </ul>
    </div>
</section>




<!-------- Start Modal Notification -->
<div class="modal fade" id="NoticeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div id="load_Notification">
                </div>

            </div>
            <div class="modal-footer">
            </div>

        </div>

    </div>
</div>


<!-------- End Modal Notification -->
<!--======= PROPERTY =========-->
<section class="properties">
    <div class="container">

        <!--======= TITTLE =========-->
        <div class="tittle">
            <img src="~/Asserts/images/head-top.png" alt="">
            <h3>Featured Properties</h3>
        </div>

        <!--======= PROPERTIES ROW =========-->
        @*<ul class="row">*@
        <div class="load_Property">
        </div>
        @*</ul>*@
    </div>
</section>

<!--======= TEAM =========-->
<section id="team">
    <div class="container">
        <!--======= TITTLE =========-->
        <div class="row">

            @await Component.InvokeAsync("Developer")


        </div>
    </div>
</section>

<!--======= CALL US =========-->

<section class="call-us">
    <div class="overlay">
        <div class="container">
            <ul class="row">
                <li class="col-sm-6">
                    <h4>Do you want to sell your property ?</h4>
                    <h6>Call us and list your property here</h6>
                </li>
                <li class="col-sm-4">
                    <h1> <a href="tel:+88 0188660077"> +88 0188660077</a></h1>
                </li>
                <li class="col-sm-2 no-padding">
                    <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal"> just contact us </button>
                    @*<a href="#." class="btn">just contact us</a> *@
                </li>
            </ul>
        </div>
    </div>
</section>




<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Contact with Us</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="Create" asp-controller="ClientContacts" method="post" id="form_sell">
                <div class="modal-body">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <ul>
                        <li class="mb-2">
                            <p class="text-center">Send Message to Property Owner</p>
                            <input type="text" asp-for="ClientName" class="form-control" placeholder="Enter Your Name" />
                            @* <input type="hidden" name="PropertyID" asp-for="PropertyID" id="prid" />
                                <input type="hidden" name="PropertyTypeId" id="typeID" asp-for="PropertyTypeId" />
                                <input type="hidden" name="PropertyForId" id="forid" asp-for="PropertyForId" />*@
                            <span asp-validation-for="ClientName" class="text-danger"></span>
                        </li>
                        <li class="mb-2">
                            <input type="email" asp-for="Email" class="form-control" placeholder="Enter Your E-mail" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </li>
                        <li class="mb-2">
                            <input type="text" asp-for="ContactNo" class="form-control" placeholder="Enter Your Phone" />
                            <span asp-validation-for="ContactNo" class="text-danger"></span>
                        </li>
                        <li class="mb-2">
                            <textarea type="text" asp-for="Message" class="form-control" placeholder="Please Type Your Message"></textarea>
                            <span asp-validation-for="Message" class="text-danger"></span>
                        </li>
                        <li>
                            @*<input type="submit" value="Send Message" class="btn btn-primary center mb-2" />*@
                        </li>
                    </ul>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" value="Send Message" class="btn btn-primary center mb-2" />
                    @*<button type="button" class="btn btn-primary">Save changes</button>*@
                </div>
            </form>
        </div>

    </div>
</div>


<!--======= CLIENTS FEEDBACK =========-->
<section class="blog">
</section>





@section Scripts{
<script>
        $(document).ready(function (){
            $('.search-type span').on('click',function() {

                $(this).addClass('active').siblings().removeClass('active');
            });
            $("#AreaId").change(function () {
                loadLocation($(this).val())
            })
            //$("#exampleModal").modal('Show');
            loadNotice();
            getProperty()
            //getBannerProperty()

        })

        // clientInformation

        // function saveClient() {
           
        //     var ClientVM = {
        //         ClientName: $("#ClientName").val(),
        //         ContactNo: $("#ContactNo").val(),
        //         Email: $("#Email").val(),
        //         Message: $("#Message").val(),
        //         // ContactDate:null,
        //         Interested: 1
        //     }
        //     console.log(ClientVM)
        //     $.post("/ClientContacts/SaveContact", JSON.stringify(ClientVM))
        //         .done(function (data) {
        //             alert("Data Loaded: " + data);
        //             console.log(data)
        //         });

        // }

        function PostClientData() {
           // alert("Hello Client");
            var client = {
                ClientContactId: 0,
                ClientName: $("#ClientName").val(),
                Email: $("#Email").val(),
                ContactNo: $("#ContactNo").val(),
                Message: $("#Message").val(),
                ContactDate: Date
            }
            console.log(client);
            $.ajax({
                url: "/ClientContacts/Save",
                type: "POST",
                //data: JSON.stringify(data),
                data: JSON.stringify(client),
                dataType: "JSON",
                contentType: "application/json",
                success: function (res) {
                    console.log(res);

                    $("#clientName").val(''),
                        $("#email").val(''),
                        $("#contactNo").val(''),
                        $("#message").val('')
                    $("#exampleModalCenter").hide('modal')
                    //$("#btnSave").val('Save')


                }
            })
        }
    function loadNotice(){

        $.ajax({
            url: "/Notices/HomeNotice",
            method: "Get",
            success: function(res){
                console.log("Notification");
                console.log(res.data);
                 var NoticeData = "";
                 //var NoticeData = '<div><img src="' + res.data.path+ '" /><div>';
                    var NoticeData = "<div class='img'><img class='img-responsive' src='" + res.data[0].imagePath + "' alt='" + res.data[0].title + "'><div class='over-proper'></div><div>" + res.data[0].description + "</div> ";
                 //$.each(res.data, function(index, value){
                 //    NoticeData +=  "<div class='img'><img class='img-responsive' src='" + value.path + "' alt='" + value.title + "'><div class='over-proper'></div><div>" + value.description + "</div> ";
                 //});
                    console.log(res.data[0].title);
                  $("#exampleModalLabel").innerText=res.data[0].title
                  //$("#exampleModalLabel").innerText=value.title
                  //$("#exampleModalLabel").modal('show')
                $("#load_Notification").empty();
                $("#load_Notification").html(NoticeData);
                $("#NoticeModal").modal('show')
            }
        })
    }


    function loadLocation( aid) {
           $.get("/PropertyDetails/Getlocation?aid=" +aid, function (data, status) {
               console.log(data)
               $("#propertyInfoId").empty();
               $("#propertyInfoId").append($('<option></option>').val("0").html("Select Location"));
               $.each(data, function (i, v) {
                   $("#propertyInfoId").append($('<option></option>').val(v.propertyInfoId).html(v.location));
               })
           })
     }

    
      //value.propertyFor
    function getProperty(){
        //alert("helo")
        $.ajax({
            url: "/PropertyDetails/HomeProperty",
            method: "Get",
            success: function(res){
                console.log(res.data)
                var propertylist = "";
                $.each(res.data, function(index, value){
                    console.log(value )
                    console.log(value.numberOfBedrooms )
                    propertylist += '<ul class="row">';
                    propertylist += '<li class="col-xs-12 col-sm-6 col-md-4 col-lg-3"><a href="/PropertyDetails/HomePropertyDetails/'+ value.propertyInfoId +'"><span class="tag font-montserrat sale">For ' + value.propertyFor  + '</span><section><div class="img"><img class="img-responsive" src="' + value.imagePath +'" alt=""><div class="over-proper"> <p class="btn font-montserrat">more details</p> </div></div><ul class="home-in"><li><span><i class="fa fa-home"></i>' + value.propertySize + '</span></li><li><span><i class="fa fa-bed"></i>' + value.numberOfBedrooms + " Bedrooms"+ '</span></li><li><span><i class="fa fa-tty"></i>' + value.numberOfBaths + " Bathrooms"+ '</span></li></ul><div class="detail-sec"><h5 class="fw-bold">' + value.title + '</h5><p class="text-success"> ' + value.propertyType.propertyTypeName + '</p> <span class="price font-montserrat">' + value.totalPrice + ' Tk</span><span class="locate"><i class="fa fa-map-marker"></i>' + value.location + '</span><div class="share-p"> <span class="btn_more">' + " More Details" + '</span> </div></div></a></section></li>'
                });
                console.log(propertylist);
                //console.log(PropertySize);
                propertylist += '</ul>';
                $(".load_Property").empty();
                $(".load_Property").html(propertylist);
            }
        })
    }

    // function getBannerProperty(){
    //    //alert("helo")
    //    $.ajax({
    //        url: "/PropertyDetails/BannerProperty",
    //        method: "Get",
    //        success: function(res){
    //            console.log("Banner")
    //            console.log(res.data)
    //            var bannerProperty = "";
    //            $.each(res.data, function(index, value){
    //                console.log(value )
    //                //console.log(value.numberOfBedrooms )

    //                bannerProperty +='<div class="plots"> <div class="row">  <div class="col-xs-4">                       <a href="#."> <img class="img-responsive" src="images/propt-img-2.jpg" alt="" > </a> </div>        <div class="col-xs-8">         <div class="pri-info"> <span class="sale">For '+value.propertyFor+'</span> <a class="f-mont" href="#.">'+ value.price + ", " + value.numberOfBedrooms + " Bed Room At " + value.area.areaName +'</a><p><i class="fa fa-map-marker"></i> Down Street</p> <div class="auther"> <img src="images/auther-1.jpg" alt=""> <h6>Anderia jus</h6></div>    </div></div></div></div>';

    //            });
    //            console.log(bannerProperty);

    //            $("#bannerslide").empty();
    //            $("#bannerslide").html(bannerProperty);
    //        }
    //    })
    //}
                //        $('.owl-carousel').owlCarousel({
                //    loop:true,
                //    margin:10,
                //    nav:true,
                //    responsive:{
                //        0:{
                //            items:1
                //        },
                //        600:{
                //            items:3
                //        },
                //        1000:{
                //            items:5
                //        }
                //    }
                //})
</script>
}