@model USBDProperty.Models.Notice

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-body">
        <h5 class="card-title text-center">Update Projects</h5>
        <hr style="width:100%; " />
        <form asp-action="Edit" method="post" enctype="multipart/form-data" asp-controller="Notices" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NoticeID" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input type="text" asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea type="text" asp-for="Description" class="form-control" ></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label asp-for="Images" class="control-label"></label>
                        <input type="file" name="Images" class="form-control" id="imageInput"/>
                        <span asp-validation-for="Images" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StartDate" class="control-label"></label>
                        <input asp-for="StartDate" class="form-control" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EndDate" class="control-label"></label>
                        <input asp-for="EndDate" class="form-control" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div style="width:180px;height:180px; border:2px solid #012970; border-radius:10px; padding:10px;">
                       <img src="@Url.Content(Model.ImagePath)" style="width:155px;height:155px;" alt="@Model.Title" id="imgPreview">
                       @*<input type="text" class="form-control" name="ImagePath" id="ImagePath" asp-for="ImagePath" hidden />*@
                       <input type="text" class="form-control" name="Images" id="photos" hidden />
                    </div>
                </div>
            </div>
           <div class="row">
                <div class="form-group form-check col-md-6">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                    </label>
               </div>
                <div class="form-group form-check col-md-6">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsFeatured" /> @Html.DisplayNameFor(model => model.IsFeatured)
                    </label>
                </div>
           </div>
           <div class="row">
               <div class="form-group col-md-6">
                   <input type="submit" value="Update" class="btn btn-primary" />
               </div>
               <div class="form-group col-md-6">
                   <a asp-action="Index">Back to List</a>
               </div>
            </div>
        </form>
    </div>
</div>


@section Scripts{
    <script>
        var isChanged= false;
        $(document).ready(function (){
             CKEDITOR.replace('Description', {
                height: 300,
                width: '100%',
             });
             $("#imageInput").change(function () {
                const file = this.files[0];
                console.log(file);
                if (file) {
                    let reader = new FileReader();
                    reader.onload = function (event) {
                        console.log(event.target.result);
                        $("#imgPreview").attr('src', event.target.result);
                    }
                    reader.readAsDataURL(file);
                }
            });
        })
    </script>
}



