@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<a aria-label="Chat on WhatsApp" href="https://wa.me/+8801913168904?text=I'm%20inquiring%20about%20the%20apartment%20listing">
    <img alt="Chat on WhatsApp" src="/ChatOnWhatsAppButton/WhatsAppButtonGreenLarge.svg" />
    </a>
   @ViewBag.msg