USE [master]
GO
/****** Object:  Database [USBDRealEstate]    Script Date: 4/6/2024 10:57:21 AM ******/
CREATE DATABASE [USBDRealEstate]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'USBDRealEstate', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\USBDRealEstate.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'USBDRealEstate_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\USBDRealEstate_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [USBDRealEstate].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [USBDRealEstate]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 4/6/2024 10:57:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Areas]    Script Date: 4/6/2024 10:57:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Areas](
	[AreaId] [int] IDENTITY(1,1) NOT NULL,
	[AreaName] [nvarchar](100) NOT NULL,
	[CityId] [int] NOT NULL,
 CONSTRAINT [PK_Areas] PRIMARY KEY CLUSTERED 
(
	[AreaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 4/6/2024 10:57:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 4/6/2024 10:57:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 4/6/2024 10:57:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 4/6/2024 10:57:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 4/6/2024 10:57:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 4/6/2024 10:57:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[ProfilePic] [nvarchar](max) NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 4/6/2024 10:57:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Citys]    Script Date: 4/6/2024 10:57:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Citys](
	[CityId] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [nvarchar](100) NOT NULL,
	[DivisionId] [int] NOT NULL,
 CONSTRAINT [PK_Citys] PRIMARY KEY CLUSTERED 
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClientContacts]    Script Date: 4/6/2024 10:57:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientContacts](
	[ClientContactId] [int] IDENTITY(1,1) NOT NULL,
	[ClientName] [nvarchar](100) NOT NULL,
	[ContactNo] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[ContactDate] [datetime2](7) NOT NULL,
	[Message] [nvarchar](max) NULL,
	[Interested] [int] NOT NULL,
 CONSTRAINT [PK_ClientContacts] PRIMARY KEY CLUSTERED 
(
	[ClientContactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClientInterest]    Script Date: 4/6/2024 10:57:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientInterest](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ClientID] [int] NOT NULL,
	[PropertyID] [int] NOT NULL,
	[PropertyForId] [int] NOT NULL,
	[PropertyTypeId] [int] NOT NULL,
	[Message] [nvarchar](max) NULL,
	[PropertyFor] [int] NOT NULL,
 CONSTRAINT [PK_ClientInterest] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 4/6/2024 10:57:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryID] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DevelopersorAgent]    Script Date: 4/6/2024 10:57:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DevelopersorAgent](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Logo] [nvarchar](max) NOT NULL,
	[Banner] [nvarchar](max) NOT NULL,
	[CompanyName] [nvarchar](100) NOT NULL,
	[ContactNo] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdateDate] [datetime2](7) NOT NULL,
	[UpdateBy] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[AreaID] [int] NOT NULL,
	[Membership] [int] NOT NULL,
	[AboutUs] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_DevelopersorAgent] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Divisions]    Script Date: 4/6/2024 10:57:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Divisions](
	[DivisionID] [int] IDENTITY(1,1) NOT NULL,
	[DivisionName] [nvarchar](100) NOT NULL,
	[CountryId] [int] NOT NULL,
 CONSTRAINT [PK_Divisions] PRIMARY KEY CLUSTERED 
(
	[DivisionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FloorPlans]    Script Date: 4/6/2024 10:57:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FloorPlans](
	[FloorPlanId] [int] IDENTITY(1,1) NOT NULL,
	[FloorPlanName] [nvarchar](255) NOT NULL,
	[ImagePath] [nvarchar](max) NOT NULL,
	[PropertyInfoID] [int] NOT NULL,
 CONSTRAINT [PK_FloorPlans] PRIMARY KEY CLUSTERED 
(
	[FloorPlanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MeasurementUnit]    Script Date: 4/6/2024 10:57:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MeasurementUnit](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[ShortName] [nvarchar](max) NULL,
 CONSTRAINT [PK_MeasurementUnit] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notices]    Script Date: 4/6/2024 10:57:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notices](
	[NoticeID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[ImagePath] [nvarchar](max) NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdateDate] [datetime2](7) NOT NULL,
	[UpdateBy] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[IsFeatured] [bit] NOT NULL,
 CONSTRAINT [PK_Notices] PRIMARY KEY CLUSTERED 
(
	[NoticeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PrivacyPolicy]    Script Date: 4/6/2024 10:57:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrivacyPolicy](
	[PpId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_PrivacyPolicy] PRIMARY KEY CLUSTERED 
(
	[PpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectImageGallery]    Script Date: 4/6/2024 10:57:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectImageGallery](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[ImagePath] [nvarchar](max) NOT NULL,
	[ProjectID] [int] NOT NULL,
 CONSTRAINT [PK_ProjectImageGallery] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectsInfo]    Script Date: 4/6/2024 10:57:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectsInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ProjectName] [nvarchar](150) NOT NULL,
	[Location] [nvarchar](100) NOT NULL,
	[LocationMap] [nvarchar](100) NULL,
	[AgentID] [int] NOT NULL,
	[AreaID] [int] NOT NULL,
	[ProjectVideo] [nvarchar](max) NULL,
 CONSTRAINT [PK_ProjectsInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PropertyDetails]    Script Date: 4/6/2024 10:57:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropertyDetails](
	[PropertyInfoId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[PropertyName] [varchar](50) NULL,
	[Location] [nvarchar](100) NOT NULL,
	[ConstructionStatus] [int] NOT NULL,
	[NumberOfBedrooms] [int] NULL,
	[NumberOfBaths] [int] NULL,
	[NumberOfBalconies] [int] NULL,
	[NumberOfGarages] [int] NULL,
	[TotalFloor] [int] NULL,
	[FloorAvailableNo] [int] NULL,
	[Furnishing] [int] NULL,
	[Facing] [int] NULL,
	[LandArea] [int] NOT NULL,
	[Price] [real] NULL,
	[ImagePath] [nvarchar](max) NULL,
	[Comments] [nvarchar](255) NULL,
	[PropertyCondition] [int] NOT NULL,
	[HandOverDate] [datetime2](7) NULL,
	[PropertyTypeId] [int] NOT NULL,
	[ProjectId] [int] NOT NULL,
	[AreaId] [int] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdateDate] [datetime2](7) NOT NULL,
	[UpdateBy] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[PropertyFor] [int] NULL,
	[ISFeatured] [bit] NOT NULL,
	[MeasurementID] [int] NOT NULL,
	[FlatSize] [int] NULL,
	[LandPrice] [real] NULL,
	[IsLand] [bit] NOT NULL,
	[IsSold] [bit] NOT NULL,
 CONSTRAINT [PK_PropertyDetails] PRIMARY KEY CLUSTERED 
(
	[PropertyInfoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PropertyFeatures]    Script Date: 4/6/2024 10:57:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropertyFeatures](
	[PropertyFeatureId] [int] IDENTITY(1,1) NOT NULL,
	[PropertyFeatureName] [nvarchar](150) NOT NULL,
	[FeatureDescription] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_PropertyFeatures] PRIMARY KEY CLUSTERED 
(
	[PropertyFeatureId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PropertyImages]    Script Date: 4/6/2024 10:57:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropertyImages](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[MultiImagePath] [nvarchar](max) NOT NULL,
	[propertyInfoId] [int] NOT NULL,
 CONSTRAINT [PK_PropertyImages] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PropertyTypes]    Script Date: 4/6/2024 10:57:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropertyTypes](
	[PropertyTypeId] [int] IDENTITY(1,1) NOT NULL,
	[PropertyTypeName] [nvarchar](255) NOT NULL,
	[ParentPropertyTypeId] [int] NULL,
	[IsLand] [bit] NOT NULL,
 CONSTRAINT [PK_PropertyTypes] PRIMARY KEY CLUSTERED 
(
	[PropertyTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PropertyWithFeatures]    Script Date: 4/6/2024 10:57:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropertyWithFeatures](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PropertyId] [int] NOT NULL,
	[FeatureId] [int] NOT NULL,
 CONSTRAINT [PK_PropertyWithFeatures] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SocialIcons]    Script Date: 4/6/2024 10:57:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SocialIcons](
	[IconId] [int] IDENTITY(1,1) NOT NULL,
	[Icon] [nvarchar](max) NOT NULL,
	[Link] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_SocialIcons] PRIMARY KEY CLUSTERED 
(
	[IconId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TermsConditions]    Script Date: 4/6/2024 10:57:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TermsConditions](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_TermsConditions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionTypes]    Script Date: 4/6/2024 10:57:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionTypes](
	[TransactionTypeId] [int] IDENTITY(1,1) NOT NULL,
	[TransactionTypeName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_TransactionTypes] PRIMARY KEY CLUSTERED 
(
	[TransactionTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240109064013_pa12', N'6.0.24')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240109072438_prf', N'6.0.24')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240110043333_p', N'6.0.24')
GO
SET IDENTITY_INSERT [dbo].[Areas] ON 

INSERT [dbo].[Areas] ([AreaId], [AreaName], [CityId]) VALUES (1, N'Mirpur', 1)
INSERT [dbo].[Areas] ([AreaId], [AreaName], [CityId]) VALUES (2, N'Mohammadpur', 1)
INSERT [dbo].[Areas] ([AreaId], [AreaName], [CityId]) VALUES (3, N'Dhanmondi', 1)
SET IDENTITY_INSERT [dbo].[Areas] OFF
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'0b81452f-c6ce-46aa-b257-e6cb7d20cb06', N'Agent', N'AGENT', N'1b4be62f-6db4-4b04-9cb8-967f7f97952e')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'2b3a0971-0ce5-4ff3-9909-51d942396d33', N'Admin', N'ADMIN', N'a4cc4c46-3f2d-41bf-9ace-4720adb2c645')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'72d770aa-c8b3-464d-92a5-92a29cb18c05', N'Super Admin', N'SUPER ADMIN', N'109409a2-bca7-4af5-8688-7a32a5ca86c8')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'c69a9482-886a-4f4f-a68f-fa500f88c8dc', N'0b81452f-c6ce-46aa-b257-e6cb7d20cb06')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'd118e255-93be-445b-ba24-aa30a0674fbc', N'2b3a0971-0ce5-4ff3-9909-51d942396d33')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'60e960e4-edf1-44ec-a743-e33afcbca890', N'72d770aa-c8b3-464d-92a5-92a29cb18c05')
GO
SET IDENTITY_INSERT [dbo].[Citys] ON 

INSERT [dbo].[Citys] ([CityId], [CityName], [DivisionId]) VALUES (1, N'Dhaka', 1)
INSERT [dbo].[Citys] ([CityId], [CityName], [DivisionId]) VALUES (2, N'Jursy', 3)
INSERT [dbo].[Citys] ([CityId], [CityName], [DivisionId]) VALUES (4, N'Comilla', 1)
SET IDENTITY_INSERT [dbo].[Citys] OFF
GO
SET IDENTITY_INSERT [dbo].[ClientContacts] ON 

INSERT [dbo].[ClientContacts] ([ClientContactId], [ClientName], [ContactNo], [Email], [ContactDate], [Message], [Interested]) VALUES (1, N'umme', N'015244583632', N'ukfarhanaislam@gmail.com', CAST(N'2024-01-17T00:00:00.0000000' AS DateTime2), NULL, 1)
INSERT [dbo].[ClientContacts] ([ClientContactId], [ClientName], [ContactNo], [Email], [ContactDate], [Message], [Interested]) VALUES (2, N'umme', N'665632054', N'ukfarhanaislam@gmail.com', CAST(N'2024-01-17T00:00:00.0000000' AS DateTime2), NULL, 1)
INSERT [dbo].[ClientContacts] ([ClientContactId], [ClientName], [ContactNo], [Email], [ContactDate], [Message], [Interested]) VALUES (3, N'salim', N'88888', N's@s.com', CAST(N'2024-01-17T00:00:00.0000000' AS DateTime2), NULL, 0)
SET IDENTITY_INSERT [dbo].[ClientContacts] OFF
GO
SET IDENTITY_INSERT [dbo].[ClientInterest] ON 

INSERT [dbo].[ClientInterest] ([ID], [ClientID], [PropertyID], [PropertyForId], [PropertyTypeId], [Message], [PropertyFor]) VALUES (23, 39, 58, 2, 4, N'dsaf dfsa', 0)
INSERT [dbo].[ClientInterest] ([ID], [ClientID], [PropertyID], [PropertyForId], [PropertyTypeId], [Message], [PropertyFor]) VALUES (1023, 1041, 58, 2, 4, N'dsa', 0)
INSERT [dbo].[ClientInterest] ([ID], [ClientID], [PropertyID], [PropertyForId], [PropertyTypeId], [Message], [PropertyFor]) VALUES (1024, 1042, 58, 2, 4, N'sda', 0)
SET IDENTITY_INSERT [dbo].[ClientInterest] OFF
GO
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([CountryID], [CountryName]) VALUES (1, N'Bangladesh')
INSERT [dbo].[Countries] ([CountryID], [CountryName]) VALUES (2, N'United States')
INSERT [dbo].[Countries] ([CountryID], [CountryName]) VALUES (3, N'India')
SET IDENTITY_INSERT [dbo].[Countries] OFF
GO
SET IDENTITY_INSERT [dbo].[DevelopersorAgent] ON 

INSERT [dbo].[DevelopersorAgent] ([ID], [Logo], [Banner], [CompanyName], [ContactNo], [Email], [Name], [CreatedDate], [CreatedBy], [UpdateDate], [UpdateBy], [IsActive], [Address], [AreaID], [Membership], [AboutUs]) VALUES (13, N'/Developer/Logo/ Krishibid LTD logo .jpg', N'/Developer/Banner/ Krishibid LTD banner .jpg', N'Krishibid LTD', N'74211545', N'krishibid12@gmail.com', N'krisibid', CAST(N'2024-02-15T00:00:00.0000000' AS DateTime2), NULL, CAST(N'2024-02-15T00:00:00.0000000' AS DateTime2), N'devshahanaj123@gmail.com', 1, N'Senpara Porbota', 1, 1, N'<p>sa</p>
')
INSERT [dbo].[DevelopersorAgent] ([ID], [Logo], [Banner], [CompanyName], [ContactNo], [Email], [Name], [CreatedDate], [CreatedBy], [UpdateDate], [UpdateBy], [IsActive], [Address], [AreaID], [Membership], [AboutUs]) VALUES (14, N'/Developer/Logo/ ANWAR LANDMARK LTD logo .png', N'/Developer/Banner/ ANWAR LANDMARK LTD _banner .jpeg', N'ANWAR LANDMARK LTD', N'123654', N'anwar12@gmail.com', N'ANWAR ', CAST(N'2024-03-09T00:00:00.0000000' AS DateTime2), NULL, CAST(N'2024-03-09T00:00:00.0000000' AS DateTime2), N'devshahanaj123@gmail.com', 1, N'Monipur', 1, 1, N'<p>dsa dsa</p>
')
SET IDENTITY_INSERT [dbo].[DevelopersorAgent] OFF
GO
SET IDENTITY_INSERT [dbo].[Divisions] ON 

INSERT [dbo].[Divisions] ([DivisionID], [DivisionName], [CountryId]) VALUES (1, N'Dhaka', 1)
INSERT [dbo].[Divisions] ([DivisionID], [DivisionName], [CountryId]) VALUES (2, N'Rangpur', 1)
INSERT [dbo].[Divisions] ([DivisionID], [DivisionName], [CountryId]) VALUES (3, N'Newyork', 2)
SET IDENTITY_INSERT [dbo].[Divisions] OFF
GO
SET IDENTITY_INSERT [dbo].[MeasurementUnit] ON 

INSERT [dbo].[MeasurementUnit] ([Id], [Name], [ShortName]) VALUES (1, N'Square Fit', N'SQFT')
INSERT [dbo].[MeasurementUnit] ([Id], [Name], [ShortName]) VALUES (2, N'Katha', N'katha')
INSERT [dbo].[MeasurementUnit] ([Id], [Name], [ShortName]) VALUES (3, N'shotok', N'shotok')
SET IDENTITY_INSERT [dbo].[MeasurementUnit] OFF
GO
SET IDENTITY_INSERT [dbo].[Notices] ON 

INSERT [dbo].[Notices] ([NoticeID], [Title], [Description], [ImagePath], [StartDate], [EndDate], [CreatedDate], [CreatedBy], [UpdateDate], [UpdateBy], [IsActive], [IsFeatured]) VALUES (1, N'dsa fdas', N'<p>dsaf dsa</p>
', N'/Content/Notification/dsa fdas.png', CAST(N'2024-01-12T18:28:00.0000000' AS DateTime2), CAST(N'2024-01-12T18:28:00.0000000' AS DateTime2), CAST(N'2024-01-30T18:28:39.3192391' AS DateTime2), N'Umme', CAST(N'2024-04-03T11:45:21.6135403' AS DateTime2), N'devshahanaj123@gmail.com', 1, 1)
INSERT [dbo].[Notices] ([NoticeID], [Title], [Description], [ImagePath], [StartDate], [EndDate], [CreatedDate], [CreatedBy], [UpdateDate], [UpdateBy], [IsActive], [IsFeatured]) VALUES (1004, N'government', N'<p>hbhj</p>
', N'/Content/Images/government.png', CAST(N'2024-02-15T17:37:00.0000000' AS DateTime2), CAST(N'2024-02-13T17:37:00.0000000' AS DateTime2), CAST(N'2024-02-06T00:00:00.0000000' AS DateTime2), NULL, CAST(N'2024-02-07T11:45:48.2766016' AS DateTime2), N'devshahanaj123@gmail.com', 1, 1)
INSERT [dbo].[Notices] ([NoticeID], [Title], [Description], [ImagePath], [StartDate], [EndDate], [CreatedDate], [CreatedBy], [UpdateDate], [UpdateBy], [IsActive], [IsFeatured]) VALUES (1007, N'fdg', N'<p>dfs</p>
', N'/Content/Images/fdg.jpeg', CAST(N'2024-02-29T19:10:00.0000000' AS DateTime2), CAST(N'2024-03-28T19:10:00.0000000' AS DateTime2), CAST(N'2024-02-20T00:00:00.0000000' AS DateTime2), NULL, CAST(N'2024-03-11T10:47:22.2478851' AS DateTime2), N'devshahanaj123@gmail.com', 1, 1)
SET IDENTITY_INSERT [dbo].[Notices] OFF
GO
SET IDENTITY_INSERT [dbo].[PrivacyPolicy] ON 

INSERT [dbo].[PrivacyPolicy] ([PpId], [Title], [Description]) VALUES (1, N'sd', N'<p>dsa</p>
')
INSERT [dbo].[PrivacyPolicy] ([PpId], [Title], [Description]) VALUES (2, N'dsa', N'<p>dsa</p>
')
SET IDENTITY_INSERT [dbo].[PrivacyPolicy] OFF
GO
SET IDENTITY_INSERT [dbo].[ProjectImageGallery] ON 

INSERT [dbo].[ProjectImageGallery] ([Id], [Name], [ImagePath], [ProjectID]) VALUES (1, N'ds', N'/Content/Images/ds.png', 29)
INSERT [dbo].[ProjectImageGallery] ([Id], [Name], [ImagePath], [ProjectID]) VALUES (2, N'ds', N'/Content/Images/ds.jpg', 29)
INSERT [dbo].[ProjectImageGallery] ([Id], [Name], [ImagePath], [ProjectID]) VALUES (3, N'g', N'/Content/Images/29_01.jpeg', 29)
SET IDENTITY_INSERT [dbo].[ProjectImageGallery] OFF
GO
SET IDENTITY_INSERT [dbo].[ProjectsInfo] ON 

INSERT [dbo].[ProjectsInfo] ([Id], [Title], [Description], [ProjectName], [Location], [LocationMap], [AgentID], [AreaID], [ProjectVideo]) VALUES (28, N'Shohoj Grihayon Premium', N'<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
', N'Shohoj Grihayon Premium', N'Senpara Porbota, near Rupayan', N'/Developer/LocationMap/ Shohoj Grihayon Premium _map .png', 12, 1, N'/Developer/Video/ Shohoj Grihayon Premium _video .mp4')
INSERT [dbo].[ProjectsInfo] ([Id], [Title], [Description], [ProjectName], [Location], [LocationMap], [AgentID], [AreaID], [ProjectVideo]) VALUES (29, N'Shohoj Grihayon Golden Chance', N'<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
', N'Shohoj Grihayon Golden Chance', N'Senpara Porbota, near Rupayan  ', N'/Developer/LocationMap/ Shohoj Grihayon Golden Chance _map .jpeg', 12, 1, N'/Developer/Video/ Shohoj Grihayon Golden Chance _video .mp4')
SET IDENTITY_INSERT [dbo].[ProjectsInfo] OFF
GO
SET IDENTITY_INSERT [dbo].[PropertyDetails] ON 

SET IDENTITY_INSERT [dbo].[PropertyDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[PropertyFeatures] ON 

INSERT [dbo].[PropertyFeatures] ([PropertyFeatureId], [PropertyFeatureName], [FeatureDescription]) VALUES (1, N'Security', N'Security')
INSERT [dbo].[PropertyFeatures] ([PropertyFeatureId], [PropertyFeatureName], [FeatureDescription]) VALUES (2, N'Lift', N'<p>Lift gdfs</p>
')
INSERT [dbo].[PropertyFeatures] ([PropertyFeatureId], [PropertyFeatureName], [FeatureDescription]) VALUES (3, N'dfsf', N'<p>dsa</p>
')
SET IDENTITY_INSERT [dbo].[PropertyFeatures] OFF
GO
SET IDENTITY_INSERT [dbo].[PropertyImages] ON 

INSERT [dbo].[PropertyImages] ([ID], [Title], [MultiImagePath], [propertyInfoId]) VALUES (11, N'fd', N'/Content/Images/58_01.jpeg', 58)
INSERT [dbo].[PropertyImages] ([ID], [Title], [MultiImagePath], [propertyInfoId]) VALUES (12, N'fd', N'/Content/Images/58_11.jpeg', 58)
INSERT [dbo].[PropertyImages] ([ID], [Title], [MultiImagePath], [propertyInfoId]) VALUES (13, N'fd', N'/Content/Images/fd.jpg', 58)
SET IDENTITY_INSERT [dbo].[PropertyImages] OFF
GO
SET IDENTITY_INSERT [dbo].[PropertyTypes] ON 

INSERT [dbo].[PropertyTypes] ([PropertyTypeId], [PropertyTypeName], [ParentPropertyTypeId], [IsLand]) VALUES (1, N'Commercial', 0, 0)
INSERT [dbo].[PropertyTypes] ([PropertyTypeId], [PropertyTypeName], [ParentPropertyTypeId], [IsLand]) VALUES (2, N'Residencial', 0, 0)
INSERT [dbo].[PropertyTypes] ([PropertyTypeId], [PropertyTypeName], [ParentPropertyTypeId], [IsLand]) VALUES (3, N'Land/Plot', 0, 1)
SET IDENTITY_INSERT [dbo].[PropertyTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[PropertyWithFeatures] ON 

INSERT [dbo].[PropertyWithFeatures] ([ID], [PropertyId], [FeatureId]) VALUES (1, 82, 1)
INSERT [dbo].[PropertyWithFeatures] ([ID], [PropertyId], [FeatureId]) VALUES (2, 82, 2)
INSERT [dbo].[PropertyWithFeatures] ([ID], [PropertyId], [FeatureId]) VALUES (3, 82, 6)
SET IDENTITY_INSERT [dbo].[PropertyWithFeatures] OFF
GO
SET IDENTITY_INSERT [dbo].[TermsConditions] ON 

INSERT [dbo].[TermsConditions] ([ID], [Title], [Description]) VALUES (1, N'sd', N'<p>dsa</p>
')
INSERT [dbo].[TermsConditions] ([ID], [Title], [Description]) VALUES (2, N'dsaf', N'<p>das</p>
')
SET IDENTITY_INSERT [dbo].[TermsConditions] OFF
GO
/****** Object:  Index [IX_Areas_CityId]    Script Date: 4/6/2024 10:57:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_Areas_CityId] ON [dbo].[Areas]
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 4/6/2024 10:57:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 4/6/2024 10:57:21 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 4/6/2024 10:57:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 4/6/2024 10:57:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 4/6/2024 10:57:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 4/6/2024 10:57:21 AM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 4/6/2024 10:57:21 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Citys_DivisionId]    Script Date: 4/6/2024 10:57:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_Citys_DivisionId] ON [dbo].[Citys]
(
	[DivisionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ClientInterest_ClientID]    Script Date: 4/6/2024 10:57:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_ClientInterest_ClientID] ON [dbo].[ClientInterest]
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ClientInterest_PropertyID]    Script Date: 4/6/2024 10:57:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_ClientInterest_PropertyID] ON [dbo].[ClientInterest]
(
	[PropertyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ClientInterest_PropertyTypeId]    Script Date: 4/6/2024 10:57:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_ClientInterest_PropertyTypeId] ON [dbo].[ClientInterest]
(
	[PropertyTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DevelopersorAgent_AreaID]    Script Date: 4/6/2024 10:57:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_DevelopersorAgent_AreaID] ON [dbo].[DevelopersorAgent]
(
	[AreaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Divisions_CountryId]    Script Date: 4/6/2024 10:57:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_Divisions_CountryId] ON [dbo].[Divisions]
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FloorPlans_PropertyInfoID]    Script Date: 4/6/2024 10:57:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_FloorPlans_PropertyInfoID] ON [dbo].[FloorPlans]
(
	[PropertyInfoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProjectImageGallery_ProjectID]    Script Date: 4/6/2024 10:57:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_ProjectImageGallery_ProjectID] ON [dbo].[ProjectImageGallery]
(
	[ProjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProjectsInfo_AgentID]    Script Date: 4/6/2024 10:57:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_ProjectsInfo_AgentID] ON [dbo].[ProjectsInfo]
(
	[AgentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProjectsInfo_AreaID]    Script Date: 4/6/2024 10:57:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_ProjectsInfo_AreaID] ON [dbo].[ProjectsInfo]
(
	[AreaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PropertyDetails_AreaId]    Script Date: 4/6/2024 10:57:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_PropertyDetails_AreaId] ON [dbo].[PropertyDetails]
(
	[AreaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PropertyDetails_MeasurementID]    Script Date: 4/6/2024 10:57:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_PropertyDetails_MeasurementID] ON [dbo].[PropertyDetails]
(
	[MeasurementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PropertyDetails_ProjectId]    Script Date: 4/6/2024 10:57:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_PropertyDetails_ProjectId] ON [dbo].[PropertyDetails]
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PropertyDetails_PropertyTypeId]    Script Date: 4/6/2024 10:57:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_PropertyDetails_PropertyTypeId] ON [dbo].[PropertyDetails]
(
	[PropertyTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PropertyImages_propertyInfoId]    Script Date: 4/6/2024 10:57:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_PropertyImages_propertyInfoId] ON [dbo].[PropertyImages]
(
	[propertyInfoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PropertyWithFeatures_FeatureId]    Script Date: 4/6/2024 10:57:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_PropertyWithFeatures_FeatureId] ON [dbo].[PropertyWithFeatures]
(
	[FeatureId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PropertyWithFeatures_PropertyId]    Script Date: 4/6/2024 10:57:21 AM ******/
CREATE NONCLUSTERED INDEX [IX_PropertyWithFeatures_PropertyId] ON [dbo].[PropertyWithFeatures]
(
	[PropertyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ClientContacts] ADD  DEFAULT ((0)) FOR [Interested]
GO
ALTER TABLE [dbo].[DevelopersorAgent] ADD  DEFAULT (N'') FOR [Address]
GO
ALTER TABLE [dbo].[DevelopersorAgent] ADD  DEFAULT ((0)) FOR [AreaID]
GO
ALTER TABLE [dbo].[DevelopersorAgent] ADD  DEFAULT ((0)) FOR [Membership]
GO
ALTER TABLE [dbo].[DevelopersorAgent] ADD  DEFAULT (N'') FOR [AboutUs]
GO
ALTER TABLE [dbo].[Notices] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsFeatured]
GO
ALTER TABLE [dbo].[ProjectsInfo] ADD  DEFAULT ((0)) FOR [AreaID]
GO
ALTER TABLE [dbo].[PropertyDetails] ADD  DEFAULT (CONVERT([bit],(0))) FOR [ISFeatured]
GO
ALTER TABLE [dbo].[PropertyDetails] ADD  DEFAULT ((0)) FOR [MeasurementID]
GO
ALTER TABLE [dbo].[PropertyDetails] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsLand]
GO
ALTER TABLE [dbo].[PropertyDetails] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsSold]
GO
ALTER TABLE [dbo].[PropertyTypes] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsLand]
GO
ALTER TABLE [dbo].[Areas]  WITH CHECK ADD  CONSTRAINT [FK_Areas_Citys_CityId] FOREIGN KEY([CityId])
REFERENCES [dbo].[Citys] ([CityId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Areas] CHECK CONSTRAINT [FK_Areas_Citys_CityId]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Citys]  WITH CHECK ADD  CONSTRAINT [FK_Citys_Divisions_DivisionId] FOREIGN KEY([DivisionId])
REFERENCES [dbo].[Divisions] ([DivisionID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Citys] CHECK CONSTRAINT [FK_Citys_Divisions_DivisionId]
GO
ALTER TABLE [dbo].[ClientInterest]  WITH CHECK ADD  CONSTRAINT [FK_ClientInterest_ClientContacts_ClientID] FOREIGN KEY([ClientID])
REFERENCES [dbo].[ClientContacts] ([ClientContactId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ClientInterest] CHECK CONSTRAINT [FK_ClientInterest_ClientContacts_ClientID]
GO
ALTER TABLE [dbo].[ClientInterest]  WITH CHECK ADD  CONSTRAINT [FK_ClientInterest_PropertyDetails_PropertyID] FOREIGN KEY([PropertyID])
REFERENCES [dbo].[PropertyDetails] ([PropertyInfoId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ClientInterest] CHECK CONSTRAINT [FK_ClientInterest_PropertyDetails_PropertyID]
GO
ALTER TABLE [dbo].[ClientInterest]  WITH CHECK ADD  CONSTRAINT [FK_ClientInterest_PropertyTypes_PropertyTypeId] FOREIGN KEY([PropertyTypeId])
REFERENCES [dbo].[PropertyTypes] ([PropertyTypeId])
GO
ALTER TABLE [dbo].[ClientInterest] CHECK CONSTRAINT [FK_ClientInterest_PropertyTypes_PropertyTypeId]
GO
ALTER TABLE [dbo].[DevelopersorAgent]  WITH CHECK ADD  CONSTRAINT [FK_DevelopersorAgent_Areas_AreaID] FOREIGN KEY([AreaID])
REFERENCES [dbo].[Areas] ([AreaId])
GO
ALTER TABLE [dbo].[DevelopersorAgent] CHECK CONSTRAINT [FK_DevelopersorAgent_Areas_AreaID]
GO
ALTER TABLE [dbo].[Divisions]  WITH CHECK ADD  CONSTRAINT [FK_Divisions_Countries_CountryId] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([CountryID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Divisions] CHECK CONSTRAINT [FK_Divisions_Countries_CountryId]
GO
ALTER TABLE [dbo].[FloorPlans]  WITH CHECK ADD  CONSTRAINT [FK_FloorPlans_PropertyDetails_PropertyInfoID] FOREIGN KEY([PropertyInfoID])
REFERENCES [dbo].[PropertyDetails] ([PropertyInfoId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FloorPlans] CHECK CONSTRAINT [FK_FloorPlans_PropertyDetails_PropertyInfoID]
GO
ALTER TABLE [dbo].[ProjectImageGallery]  WITH CHECK ADD  CONSTRAINT [FK_ProjectImageGallery_ProjectsInfo_ProjectID] FOREIGN KEY([ProjectID])
REFERENCES [dbo].[ProjectsInfo] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProjectImageGallery] CHECK CONSTRAINT [FK_ProjectImageGallery_ProjectsInfo_ProjectID]
GO
ALTER TABLE [dbo].[ProjectsInfo]  WITH CHECK ADD  CONSTRAINT [FK_ProjectsInfo_Areas_AreaID] FOREIGN KEY([AreaID])
REFERENCES [dbo].[Areas] ([AreaId])
GO
ALTER TABLE [dbo].[ProjectsInfo] CHECK CONSTRAINT [FK_ProjectsInfo_Areas_AreaID]
GO
ALTER TABLE [dbo].[ProjectsInfo]  WITH CHECK ADD  CONSTRAINT [FK_ProjectsInfo_DevelopersorAgent_AgentID] FOREIGN KEY([AgentID])
REFERENCES [dbo].[DevelopersorAgent] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProjectsInfo] CHECK CONSTRAINT [FK_ProjectsInfo_DevelopersorAgent_AgentID]
GO
ALTER TABLE [dbo].[PropertyDetails]  WITH CHECK ADD  CONSTRAINT [FK_PropertyDetails_Areas_AreaId] FOREIGN KEY([AreaId])
REFERENCES [dbo].[Areas] ([AreaId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PropertyDetails] CHECK CONSTRAINT [FK_PropertyDetails_Areas_AreaId]
GO
ALTER TABLE [dbo].[PropertyDetails]  WITH CHECK ADD  CONSTRAINT [FK_PropertyDetails_MeasurementUnit_MeasurementID] FOREIGN KEY([MeasurementID])
REFERENCES [dbo].[MeasurementUnit] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PropertyDetails] CHECK CONSTRAINT [FK_PropertyDetails_MeasurementUnit_MeasurementID]
GO
ALTER TABLE [dbo].[PropertyDetails]  WITH CHECK ADD  CONSTRAINT [FK_PropertyDetails_ProjectsInfo_ProjectId] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[ProjectsInfo] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PropertyDetails] CHECK CONSTRAINT [FK_PropertyDetails_ProjectsInfo_ProjectId]
GO
ALTER TABLE [dbo].[PropertyDetails]  WITH CHECK ADD  CONSTRAINT [FK_PropertyDetails_PropertyTypes_PropertyTypeId] FOREIGN KEY([PropertyTypeId])
REFERENCES [dbo].[PropertyTypes] ([PropertyTypeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PropertyDetails] CHECK CONSTRAINT [FK_PropertyDetails_PropertyTypes_PropertyTypeId]
GO
ALTER TABLE [dbo].[PropertyImages]  WITH CHECK ADD  CONSTRAINT [FK_PropertyImages_PropertyDetails_propertyInfoId] FOREIGN KEY([propertyInfoId])
REFERENCES [dbo].[PropertyDetails] ([PropertyInfoId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PropertyImages] CHECK CONSTRAINT [FK_PropertyImages_PropertyDetails_propertyInfoId]
GO
ALTER TABLE [dbo].[PropertyWithFeatures]  WITH CHECK ADD  CONSTRAINT [FK_PropertyWithFeatures_PropertyDetails_PropertyId] FOREIGN KEY([PropertyId])
REFERENCES [dbo].[PropertyDetails] ([PropertyInfoId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PropertyWithFeatures] CHECK CONSTRAINT [FK_PropertyWithFeatures_PropertyDetails_PropertyId]
GO
ALTER TABLE [dbo].[PropertyWithFeatures]  WITH CHECK ADD  CONSTRAINT [FK_PropertyWithFeatures_PropertyFeatures_FeatureId] FOREIGN KEY([FeatureId])
REFERENCES [dbo].[PropertyFeatures] ([PropertyFeatureId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PropertyWithFeatures] CHECK CONSTRAINT [FK_PropertyWithFeatures_PropertyFeatures_FeatureId]
GO
USE [master]
GO
